<ul class="breadcrumb">
    <li><a href="#/projects">Projects</a> <span class="divider"></span> </li>
    <li><a href="#/admin">Administration</a><span class="divider"></span> </li>
    <li class="active">Edit Project Dataset</li>
</ul>

	<div class="panel panel-default">
	  <div class="panel-body">
	  		<h3>{{datastore.Name}} :: Master Dataset</h3>

	  		<p><i>Manage this master dataset.</i></p>
	  		<hr/>

	  		<div class="col-md-4 admin-field-list-box">
				<div class="row">
						<div ng-click="selectField(field)" class="admin-field" ng-class="{'admin-field-selected': field.Id == SelectedField.Id}" ng-repeat="field in datastoreFields">
							<span class="admin-field-name">{{field.Name}}</span><br/>
							<span class="admin-field-desc">{{field.Description}}</span>
						</div>
				</div>

			</div>
			<div ng-hide="SelectedField" class="col-md-8"><H2 class="text-center">Select a field</h2></div>
			<div ng-show="SelectedField" class="col-md-8 admin-criteria-list-box">
				<div class="row">
					<div class="col-md-12">
						<div ng-include="'partials/admin/dataset-master-options.html'"></div>
					</div>
				</div>
				

			</div>

	  </div>
	</div>

