<div class="modal">
	<!--<div class="modal-dialog edit-project-modal">-->
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
  			<h4>{{header_message}}</h4>
  		</div>
		
		<div class="import-has-errors"  ng-show="subprojectSave.error">		
			<div class="alert alert-danger" ng-show="subprojectSave.error">
				Project Name cannot be blank!
			</div>
			<!--<div class="alert alert-info" ng-show="!subprojectSave.error" >
				Fisherman does not exist.
			</div>-->
		</div>
		
  		<div class="modal-body">
			<form name="form" class="css-form" novalidate> <!-- We need this line, to make the directives work.-->
				<div><button class="btn btn-warning" style="margin: 10px;" ng-click="cancel()">Cancel</button></div>
				<p>* = Required Items</p>
				<div class="header-label">*Project Name</div>
				<div class="header-value">
					<input  class="form-control" type="text" ng-model="subproject_row.ProjectName" />
				</div>
				<div class="header-label">Project Description</div>
				<div class="header-value">
					<textarea type="text" rows="4" class="form-control" ng-model="subproject_row.ProjectDescription" ></textarea>
				</div>
				
				<div class="header-label">Lead Agency</div>
				<div class="header-value">
					<select ui-select2="select2Options" data-placeholder="Choose an Agency" style="width: 300px; margin-top: 4px;" ng-model="subproject_row.Agency" ng-change="selectAgency()" >
						<option ng-repeat="agency in agencyList" value="{{agency.Label}}">{{agency.Label}}</option>
					</select>				
				</div>
				<div>
					<div ng-show="showOtherAgency">
						<div class="header-label">Other Agency Name</div>
						<div class="header-value">
							<input class="form-control" type="text" ng-model="subproject_row.OtherAgency" />
						</div>
					</div>
				</div>
				
				<div class="header-label">Project Proponent</div>			
				<div class="header-value">
					<select ui-select2="select2Options" data-placeholder="Choose a Project Proponent" style="width: 300px; margin-top: 4px;" ng-model="subproject_row.ProjectProponent" ng-change="selectProjectProponent()" >
						<option ng-repeat="projectProponent in agencyList" value="{{projectProponent.Label}}">{{projectProponent.Label}}</option>
					</select>	
				</div>
				<div>
					<div ng-show="showOtherProjectProponent">
						<div class="header-label">Other Project Proponent Name</div>
						<div class="header-value">
							<input class="form-control" type="text" ng-model="subproject_row.OtherProjectProponent" ng-click="enteredSomethingElse()"/>
						</div>
					</div>
				</div>
				
				<div ng-show="showCountyOptions">
					<div class="header-label">County Options</div>
					<div class="header-value">
						<!--<select ui-select2="select2Options" data-placeholder="Choose a County" style="width: 300px; margin-top: 4px;" type="multiselect" ng-model="subproject_row.County" ng-change="selectCounty()">
							<option ng-repeat="county in countyList" value="{{county.Label}}">{{county.Label}}</option>
						</select>-->
						<!--<select class="form-control" multiple="true" ng-model="subproject_row.County" ng-options="name as name for (id, name) in countyOptions" ng-change="countyChanged()">
						</select>-->
						<!--<select multiple="true" class="form-control" style="width: 300px" ng-model="subproject_row.County" ng-change="countyChanged()">-->
						<select multiple="true" class="form-control" style="width: 150px" ng-model="subproject_row.County" ng-change="countyChanged()" ng-blur="enteredSomethingElse()">
							<option value="Asotin">Asotin</option>
							<option value="Baker">Baker</option>
							<option value="Benton">Benton</option>
							<option value="Clark">Clark</option>
							<option value="Columbia">Columbia</option>
							<option value="Franklin">Franklin</option>
							<option value="Garfield">Garfield</option>
							<option value="Gilliam">Gilliam</option>
							<option value="Grant, WA">Grant, WA</option>
							<option value="Grant, OR">Grant, OR</option>
							<option value="Hood River">Hood River</option>
							<option value="Klickitat">Klickitat</option>
							<option value="Malheur">Malheur</option>
							<option value="Morrow">Morrow</option>
							<option value="Multnomah">Multnomah</option>
							<option value="Other">Other</option>
							<option value="Sherman">Sherman</option>
							<option value="Skamania">Skamania</option>
							<option value="Umatilla">Umatilla</option>
							<option value="Union">Union</option>
							<option value="Walla Walla">Walla Walla</option>
							<option value="Wallowa">Wallowa</option>
							<option value="Wasco">Wasco</option>
							<option value="Wheeler">Wheeler</option>
							<option value="Whitman">Whitman</option>
						</select>
					</div>
				</div>
				<div class="header-label">Selected Counties</div>
				<div class="header-value">
					<!--<input class="form-control" type="text" ng-model="subproject_row.txtCounty" />-->
					<textarea class="form-control" type="text" rows="4"  readonly ng-model="subproject_row.txtCounty"  ng-focus="enteredSelectedCounties()" ng-keydown="checkKeyPress($event)"></textarea>
				</div>
				<div>
					<div ng-show="showOtherCounty">
						<div class="header-label">Other County Name</div>
						<div class="header-value">
							<input class="form-control" type="text" ng-model="subproject_row.OtherCounty" />
						</div>
					</div>
				</div>
				
				<div class="header-label">Tracking Number</div>
				<div class="header-value">
					<input  class="form-control" type="text" ng-model="subproject_row.TrackingNumber" ng-focus="enteredSomethingElse()"/>
				</div>
				
				<div class="header-label">UIR</div>
				<div class="header-value">
					<select class="form-control" ng-model="subproject_row.UIR" ng-focus="enteredSomethingElse()">
						<option value="Yes">Yes</option>
						<option value="No">No</option>
					</select>
				</div>

				<div class="header-label">Off-Reservation Tribal Fee?</div>
				<div class="header-value">
					<select class="form-control" ng-model="subproject_row.OffResTribalFee" ng-focus="enteredSomethingElse()">
						<option value="Yes">Yes</option>
						<option value="No">No</option>
					</select>
				</div>		

				<div class="header-label">Additional CRPP Action Expected?</div>
				<div class="header-value">
					<select class="form-control" ng-model="subproject_row.Closed" ng-focus="enteredSomethingElse()">
						<option value="Yes">Yes</option>
						<option value="No">No</option>
					</select>	
				</div>
				
				<div class="header-label">*Project Lead</div>
				<div class="header-value">
					<select class="form-control" ng-model="subproject_row.ProjectLead" ng-focus="enteredSomethingElse()">
						<!-- Note:  These names must match the user's name in Outlook, and the full name in table Users. -->
						<option value="Bambi Rodriguez">Bambi Rodriguez</option>
						<option value="Shawn Steinmetz">Shawn Steinmetz</option>
						<option value="Catherine Dickson">Catherine Dickson</option>
						<option value="Carey Miller">Carey Miller</option>
						<option value="Jennifer Karson Engum">Jennifer Karson Engum</option>
						<option value="Shari Sheoships">Shari Sheoships</option>
						<option value="Arthur Van Pelt">Arthur Van Pelt</option>
						<option value="Teara Farrow Ferman">Teara Farrow Ferman</option>
						<!--<option value="Amy Senn">Amy Senn</option>-->
						<option value="Holly Shea Barrick">Holly Shea Barrick</option>
						<option value="Wilbur Barrick">Wilbur Barrick</option>
						<option value="Dara Williams-Worden">Dara Williams-Worden</option>
						<option value="Julius Patrick">Julius Patrick</option>
						<option value="Kristen Tiede">Kristen Tiede</option>
						<option value="George Clark">George Clark</option>
						<option value="Colette Coiner">Colette Coiner</option>
					</select>	
				</div>
				<div class="header-label">Comments</div>
				<div class="header-value">
					<textarea type="text" rows="4" class="form-control" ng-model="subproject_row.Comments" ></textarea>
				</div>
				<div ng-show="showAddDocument">
					<hr>
					<hr>
					<div class="header-label">Would you like to add a document also?</div>
					<div class="header-value">
						<select class="form-control" ng-model="subproject_row.AddDocument" ng-focus="enteredSomethingElse()">
							<option value="Yes">Yes</option>
							<option value="No">No</option>
						</select>	
					</div>
				</div>
			</form>
  		</div>
		<div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save()">Save</button>
        </div>

  </div>
</div>
