<ul class="breadcrumb">
    <li><a href="#!/projects">Projects</a> <span class="divider"></span> </li>
    <li><a href="#!/admin">Administration</a><span class="divider"></span> </li>
    <li class="active">Edit Project Dataset</li>
</ul>

	<div class="panel panel-default">
        <div class="panel-body">
            <h3>{{datastore.Name}} :: Master Fields</h3>

            <p><i>Manage the master fields for this datastore.</i></p>
            <hr />

            <div style="height: 400px; width: 100%; margin-top: 35px; margin-bottom: 115px;">
                <div id="fields-grid" class="ag-theme-blue gridStyle-small"></div>
            </div>

        </div>
	</div>

