<ul class="breadcrumb">
    <li><a href="#!/projects">Projects</a> <span class="divider"></span> </li>
    <li class="active">Administration</li>
</ul>

	<div class="container-fluid">
		
		<h3>Manage Datasets</h3>
<!--RK commented out
		<button style="margin-top: -45px;" class="btn right" ng-click="createMasterDataset()">Create Master Dataset</button> 
		-->
		<div class="row-fluid">
			<div class="span10">
				<div style="height: 400px; width: 100%; margin-top: 35px; margin-bottom: 115px;">
					<div id="datasets-list-grid" class="ag-theme-blue gridStyle-small"></div>
					<div >Total datasets: {{datasets.length}}</div>
				</div>
			</div>
		</div>
	
	</div>
	
	
