
<div class="modal-header">
    <h3>Field Properties</h3>
</div>
<div class="modal-body" id="modal-body">

    <table class="inherited-properties">
        <tr>
            <td class="prop-name">Name:</td>
            <td class="prop-val"><input class="form-control" type="text" ng-model="field_to_edit.Name" name="Name"></td>
        </tr>
        <tr>
            <td class="prop-name">Description:</td>
            <td class="prop-val"><textarea textarea rows="4" style="margin-left: 2px;" class="form-control" type="text" ng-model="field_to_edit.Description" name="Description"></textarea></td>
        </tr>
        <tr>
            <td class="prop-name">Units:</td>
            <td class="prop-val"><input class="form-control" type="text" ng-model="field_to_edit.Units" name="Units"></td>
        </tr>
        <tr>
            <td class="prop-name">TechnicalName:</td>
            <td class="prop-val"><input class="form-control" type="text" ng-model="field_to_edit.TechnicalName" name="TechnicalName"></td>
        </tr>
        <tr>
            <td class="prop-name">Db Column Name:</td>
            <td class="prop-val"><input class="form-control" type="text" ng-model="field_to_edit.DbColumnName" name="DbColumnName"></td>
        </tr>
        <tr>
            <td class="prop-name">Data Type:</td>
            <td class="prop-val"><select ng-model="field_to_edit.DataType"><option>date</option><option>int</option><option>float</option><option>string</option></select></td>
        </tr>
        <tr>
            <td class="prop-name">Control Type:</td>
            <td class="prop-val"><select ng-model="field_to_edit.ControlType">
    <option>date</option>
    <option>datetime</option>
    <option>time</option>
    <option>file</option>
    <option>multiselect</option>
    <option>number</option>
    <option>select</option>
    <option>select-number</option>
    <option>text</option>
    <option>textarea</option>
    <option>currency</option>
    <option>easting</option>
    <option>northing</option>
    <option>qa-status-select</option>
    <option>qa-status-comment</option>
    <option>activity-date</option>
    <option>activity-text</option>
    <option>hidden</option>

</select></td>
        </tr>
        <tr>
            <td class="prop-name">Validation:</td>
            <td class="prop-val"><input class="form-control" type="text" ng-model="field_to_edit.Validation" name="Validation"></td>
        </tr>
        <tr>
            <td class="prop-name">Rule:</td>
            <td class="prop-val"><textarea textarea rows="4" class="form-control" type="text" ng-model="field_to_edit.Rule" name="Rule"></textarea></td>
        </tr>
        <tr>
            <td class="prop-name">Data Source:</td>
            <td class="prop-val"><input class="form-control" type="text" ng-model="field_to_edit.DataSource" name="DataSource"></td>
        </tr>
        <tr ng-hide="field_to_edit.DataSource">
            <td class="prop-name">Possible Values:</td>
            <td class="prop-val"><textarea rows="4" style="margin-left: 2px;" class="form-control" type="text" ng-change="parsePossibleValuesString()" ng-model="field_to_edit.PossibleValues" name="PossibleValues"></textarea></td>
        </tr>

        <tr ng-hide="field_to_edit.DataSource">
            <td class="prop-name">(Parsed):</td>
            <td class="prop-val"><pre>{{field_to_edit.Values | filter:arrayValues}}</pre></td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button style="margin-top: 30px;" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button style="margin-top: 30px;" class="right btn" ng-click="save()">Save Changes</button>
    <div ng-show="SaveMessage" style="float: right;margin-right: 20px;margin-top:25px;" class="alert alert-success">{{SaveMessage}}</div>
</div>


