<div class="modal">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
  			<h4>{{header_message}}</h4>
  		</div>
  		<div class="modal-body">

  		<!--<tabset justified="true">
  			<tab heading="Add new record">
  			<br/>-->
			<div ng-show="showFormItems">
				<form name="form" class="css-form" novalidate>
					<p>* = Required Items</p>
						<div class="header-label">*Date on Correspondence</div>
						<!--<div class="header-value">
							<input  class="form-control" type="text" ng-model="ce_row.CorrespondenceDate" placeholder="DD/MM/YYYY" />
						</div>
						-->
						<div class="header-value">
							<!--<input  class="form-control" type="text" datepicker-popup="MM/dd/yyyy" ng-model="ce_row.CorrespondenceDate" is-open="aopened" datepicker-options="dateOptions" ng-required="false" close-text="Close" ng-change="calculateDateOfResponse()" />-->
							<input  class="form-control" type="text" datepicker-popup="MM/dd/yyyy" ng-model="ce_row.CorrespondenceDate" is-open="aopened" min="'2000-01-01'" max="'2020-12-31'" datepicker-options="dateOptions" ng-required="false" close-text="Close" ng-change="calculateDateOfResponse()" />
						</div>
						
						<div class="header-label">Copy of the Received Document</div>
						<!--<div class="header-value" style="margin-left: 198px; min-height: 24px; border: 1px solid lightgrey; border-radius: 3px;">-->
						<!--<div class="header-value" style="margin-left: 250px; min-height: 24px; border: 1px solid lightgrey; border-radius: 3px;">-->
						<div class="header-value" style="margin-left: 300px; min-height: 24px; border: 1px solid lightgrey; border-radius: 3px;">
							<!--<button class="right btn btn-xs" ng-click="openFileModal(ce_row, field)">Add</button>-->
							<button class="right btn btn-xs" ng-click="openFileModal(ce_row, field)">Add</button>
							<div ng-bind-html="ce_row['EventFiles'] | fileNamesFromString">&nbsp;</div>
						</div>
						
						<div class="header-label">Type of Correspondence</div>
						<div class="header-value">
							<select class="form-control" ng-model="ce_row.CorrespondenceType" ng-change="selectCorrespondenceType()">
								<option value="Project Notification">Project Notification</option>
								<option value="Notice of Application">Notice of Application</option>
								<option value="Seeking Concurrence">Seeking Concurrence</option>
								<option value="Document Review">Document Review</option>
								<option value="Permit Review">Permit Review</option>
								<option value="Sending materials for our records">Sending materials for our records</option>
								<option value="Other">Other</option>
							</select>
						</div>
						<div>
							<div ng-show="showOtherCorrespondenceType">
								<div class="header-label">Other Type of Correspondence</div>
								<div class="header-value">
									<input class="form-control" type="text" ng-model="ce_row.OtherCorrespondenceType" />
								</div>
							</div>
						</div>

						<div class="header-label">Type of Response</div>
						<div class="header-value">
							<!--<select ui-select2="select2Options" data-placeholder="Choose a Type of Response" style="width: 300px; margin-top: 4px;" ng-model="ce_row.ResponseType" ng-options="name as name for (id, name) in responseTypeOptions" ng-change="selectResponseType()"></select>-->
							<select ui-select2="select2Options" data-placeholder="Choose a Type of Response" style="width: 300px; margin-top: 4px;" ng-model="ce_row.ResponseType" ng-change="selectResponseType()">
								<option ng-repeat="ceResponseType in ceResponseType" value="{{ceResponseType.Label}}">{{ceResponseType.Label}}</option>
							</select>
							<!--<select ui-select2="select2Options" data-placeholder="Choose a Location" style="width: 200px; margin-top: 4px;" ng-model="row['locationId']" ng-options="id as name for (id, name) in locationOptions | orderBy:'name'"></select>-->
						</div>
						
						<!--<div class="header-label">Type of Response</div>
						<div class="header-value">
							<select class="form-control" ng-model="ce_row.ResponseType" ng-change="responseTypeChanged()">
								<option value="aa">aa</option>
								<option value="APE letter">APE letter</option>
								<option value="Asked to be consulting party">Asked to be consulting party</option>
								<option value="Defer to other tribe(s)">Defer to other tribe(s)</option>
								<option value="Determination of Eligibility">Determination of Eligibility</option>
								<option value="Did not review">Did not review</option>
								<option value="Emailed comments">Emailed comments</option>
								<option value="Finding of Effect">Finding of Effect</option>
								<option value="Issued survey/excavation permit">Issued survey/excavation permit</option>
								<option value="Let it go">Let it go</option>
								<option value="Missed opportunity to review">Missed opportunity to review</option>
								<option value="NAGPRA FR Notice">NAGPRA FR Notice</option>
								<option value="NAGPRA inventory/summary">NAGPRA inventory/summary</option>							
								<option value="None--OK">None--OK</option>
								<option value="Other">Other</option>
								<option value="Out of area">Out of area</option>
								<option value="Permit Application">Permit Application</option>
								<option value="Report for Review">Report for Review</option>
								<option value="Requested a monitor">Requested a monitor</option>
								<option value="Requested a survey">Requested a survey</option>
								<option value="Requested additional information">Requested additional information</option>
								<option value="Requested report">Requested report</option>
								<option value="Requested testing">Requested testing</option>
								<option value="Response to comments">Response to comments</option>
								<option value="Reviewed report">Reviewed report</option>
								<option value="Same as previously reviewed project">Same as previously reviewed project</option>
								<option value="Sent letter">Sent letter</option>
								<option value="Signed off on">Signed off on</option>
								<option value="Simple Notification">Simple Notification</option>
							</select>
						-->
							<!--<select class="form-control" ng-model="ce_row.ResponseType.Id"  ng-options="o.Id as o.Name for o in ResponseTypeList" ng-change="ce_row.ResponseType.Name=(ResponseTypeList|ResponseTypeFilter:{Id:ce_row.ResponseType.Id})[0].Name">-->
							<!--<select class="form-control" ng-model="ce_row.ResponseType.Id"  ng-options="o.Id as o.Name for o in ResponseTypeList" ng-change=""ce_row.ResponseType.Name=(ResponseTypeList|ResponseTypeFilter:{Id:ce_row.ResponseType.Id}){{ce_row}}">
							</select>-->
							
							<!--<select class="form-control" ng-model="subproject_row.Agency.Id"  ng-options="o.Id as o.Name for o in agencyList" ng-change="subproject_row.Agency.Name=(agencyList|filter:{Id:subproject_row.Agency.Id})[0].Name">-->

						<!--</div>-->
						<div>
							<div ng-show="showOtherResponseType">
								<div class="header-label">Other Type of Response</div>
								<div class="header-value">
									<input class="form-control" type="text" ng-model="ce_row.OtherResponseType" />
								</div>
							</div>
						</div>
						
						<div class="header-label">Number of Days</div>
						<div class="header-value">
							<select class="form-control" ng-model="ce_row.NumberOfDays" ng-change="calculateDateOfResponse()">
								<option value="7">7</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="30">30</option>
								<option value="45">45</option>
								<option value="60">60</option>
								<option value="70">70</option>
								<option value="Other">Other</option>
							</select>			
						</div>
						
						<div class="header-label">Date of Response</div>
						<div ng-class="{'hidden': ce_row.other}" >
						<!--<div class="header-value" >-->
						<!--<div class="header-value" ng-class="{'hidden': ce_row.NumberOfDays.length > 2}">-->
						<!--<div class="header-value" ng-class="{'hidden': ShowNumberOfDaysPopup}">
							<input class="form-control" type="text" ng-model="ce_row.ResponseDate" placeholder="DD/MM/YYYY" />
						</div>-->
						
						<!--<div class="header-value" >-->
						<!--<div class="header-value" ng-class="{'hidden': ce_row.NumberOfDays.length < 3}">-->
						<!--<div class="header-value" ng-class="{'hidden': !ShowNumberOfDaysPopup}">-->
						<div class="header-value">
							<input class="form-control" type="text" datepicker-popup="MM/dd/yyyy" ng-model="ce_row.ResponseDate" is-open="bopened" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
						</div>
						
						<div class="header-label">*Staff Member</div>
						<div class="header-value">
							<select class="form-control" ng-model="ce_row.StaffMember" >
								<option value="Bambi Rodriguez">Bambi Rodriguez</option>
								<option value="Shawn Steinmetz">Shawn Steinmetz</option>
								<option value="Catherine Dickson">Catherine Dickson</option>
								<option value="Carey Miller">Carey Miller</option>
								<option value="Jennifer Karson Engum">Jennifer Karson Engum</option>
								<option value="Shari Sheoships">Shari Sheoships</option>
								<option value="Arthur Van Pelt">Arthur Van Pelt</option>
								<option value="Teara Farrow Ferman">Teara Farrow Ferman</option>
								<option value="Holly Shea Barrick">Holly Shea Barrick</option>
								<option value="Wilbur Barrick">Wilbur Barrick</option>
								<option value="Dara Williams-Worden">Dara Williams-Worden</option>
								<option value="Julie Longenecker">Julie Longenecker</option>
								<option value="Julius Patrick">Julius Patrick</option>							
								<option value="George Clark">George Clark</option>
								<option value="Colette Coiner">Colette Coiner</option>
							</select>
						</div>
						<div class="header-label">Comments</div>
						<div class="header-value">
							<!--<input  class="form-control" type="text" ng-model="ce_row.EventComments" />-->
							<textarea type="text" rows="4" class="form-control" ng-model="ce_row.EventComments"></textarea>
						</div>
				</form>
			</div>

            <!--<button project-role="editor" class="btn btn-primary right" style="margin: 10px;" ng-click="remove()">Remove</button>
            <button project-role="editor" class="btn btn-primary right" style="margin: 10px;" ng-click="save()">Save</button>
            <button class="btn btn-warning right" style="margin: 10px;" ng-click="cancel()">Cancel</button>
			<div><img ng-show="loading" src="assets/images/FishLoading.gif"/>{{ReadyToClose}}</div>
			<button ng-show="showCloseButton" class="btn btn-primary right" ng-click="close()">Close</button>-->
        <!--</tab>-->
        </div>
		<div ng-show="showCancelButton" class="modal-footer" style="margin-top: 30px;">
            <button project-role="editor" class="btn btn-primary right" style="margin: 10px;" ng-click="save()">Save</button>
            <button class="btn btn-warning right"  style="margin: 10px;" ng-click="cancel()">Cancel</button>
			<div><img ng-show="loading" src="assets/images/FishLoading.gif"/>{{ReadyToClose}}</div>

        </div>
		<div ng-show="showCloseButton" class="modal-footer-center" style="margin-top: 30px;">
			<label>Save was successful...</label>
			<br>
			<button class="btn btn-primary" style="margin: 10px;" ng-click="close()">Close</button>
		</div>

  </div>
</div>
