<div class="modal">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
  			<h4>{{header_message}}</h4>
  		</div>
  		<div class="modal-body">

  		<!--<tabset justified="true">
  			<tab heading="Add new record">
  			<br/>-->
		  	<form name="form" class="css-form" novalidate>
		  			<div class="header-label">Date of Correspondence</div>
					<!--<div class="header-value">
						<input  class="form-control" type="text" ng-model="ce_row.CorrespondenceDate" placeholder="DD/MM/YYYY" />
					</div>
					-->
		  			<div class="header-value">
			  				<input  class="form-control" type="text" datepicker-popup="MM/dd/yyyy" ng-model="ce_row.CorrespondenceDate" is-open="aopened" datepicker-options="dateOptions" ng-required="false" close-text="Close" ng-change="calculateDateOfResponse()" />
			  		</div>
					
					<div class="header-label">Copy of the Received Document</div>
					<!--<div class="header-value" style="margin-left: 198px; min-height: 24px; border: 1px solid lightgrey; border-radius: 3px;">-->
					<div class="header-value" style="margin-left: 250px; min-height: 24px; border: 1px solid lightgrey; border-radius: 3px;">
						<!--<button class="right btn btn-xs" ng-click="openFileModal(ce_row, field)">Add</button>-->
						<button class="right btn btn-xs" ng-click="openFileModal(ce_row, field)">Add</button>
						<div ng-bind-html="ce_row[EventFiles] | fileNamesFromString">&nbsp;</div>
					</div>

		  			<div class="header-label">Type of Response</div>
					<div class="header-value">
						<!--<input  class="form-control" type="text" ng-model="ce_row.ResponseType" />-->
						<select class="form-control" ng-model="ce_row.ResponseType" >
							<option value="No Response">No Response</option>
							<option value="APE letter">APE letter</option>
							<option value="Determination of Eligibility">Determination of Eligibility</option>
							<option value="Finding of Effect">Finding of Effect</option>
							<option value="NAGPRA FR Notice">NAGPRA FR Notice</option>
							<option value="NAGPRA inventory/summary">NAGPRA inventory/summary</option>
							<option value="Permit Application">Permit Application</option>
							<option value="Report for Review">Report for Review</option>
							<option value="Response to comments">Response to comments</option>
							<option value="Simple Notification">Simple Notification</option>
						</select>
						<!--<select class="form-control" ng-model="ce_row.ResponseType.Id"  ng-options="o.Id as o.Name for o in ResponseTypeList" ng-change="ce_row.ResponseType.Name=(ResponseTypeList|ResponseTypeFilter:{Id:ce_row.ResponseType.Id})[0].Name">-->
						<!--<select class="form-control" ng-model="ce_row.ResponseType.Id"  ng-options="o.Id as o.Name for o in ResponseTypeList" ng-change=""ce_row.ResponseType.Name=(ResponseTypeList|ResponseTypeFilter:{Id:ce_row.ResponseType.Id}){{ce_row}}">
						</select>-->
						
						<!--<select class="form-control" ng-model="subproject_row.Agency.Id"  ng-options="o.Id as o.Name for o in agencyList" ng-change="subproject_row.Agency.Name=(agencyList|filter:{Id:subproject_row.Agency.Id})[0].Name">-->

					</div>

					
			  		<div class="header-label">Number of Days</div>
			  		<div class="header-value">
			  				<select class="form-control" ng-model="ce_row.NumberOfDays" ng-change="calculateDateOfResponse()">
			  					<option value="7">7</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="30">30</option>
								<option value="45">45</option>
			  					<option value="60">60</option>
			  					<option value="70">70</option>
			  					<option value="Other">Other</option>
			  				</select>
							
					</div>
					
		  			<div class="header-label">Date of Response</div>
					<div ng-class="{'hidden': ce_row.other}" >
					<!--<div class="header-value" >-->
					<!--<div class="header-value" ng-class="{'hidden': ce_row.NumberOfDays.length > 2}">-->
					<!--<div class="header-value" ng-class="{'hidden': ShowNumberOfDaysPopup}">
						<input class="form-control" type="text" ng-model="ce_row.ResponseDate" placeholder="DD/MM/YYYY" />
					</div>-->
					
					<!--<div class="header-value" >-->
					<!--<div class="header-value" ng-class="{'hidden': ce_row.NumberOfDays.length < 3}">-->
					<!--<div class="header-value" ng-class="{'hidden': !ShowNumberOfDaysPopup}">-->
					<div class="header-value">
			  			<input class="form-control" type="text" datepicker-popup="MM/dd/yyyy" ng-model="ce_row.ResponseDate" is-open="bopened" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
			  		</div>
					
			  		<div class="header-label">Staff Member</div>
			  		<div class="header-value">
			  				<select class="form-control" ng-model="ce_row.StaffMember" >
			  					<option value="BambiH">Bambi</option>
								<option value="ShawnS">Shawn</option>
								<option value="CatherineD">Catherine</option>
								<option value="CareyM">Carey</option>
								<option value="JenniferK">Jennifer</option>
			  					<option value="ShariS">Shari</option>
			  					<option value="ArthurVP">Arthur</option>

			  				</select>
							
					</div>
		  			<div class="header-label">Comments</div>
					<div class="header-value">
						<input  class="form-control" type="text" ng-model="ce_row.Comments" />
					</div>
			</form>

            <button project-role="editor" class="btn btn-primary right" style="margin: 10px;" ng-click="save()">Save</button>
            <button class="btn btn-warning right" style="margin: 10px;" ng-click="cancel()">Close</button>
        <!--</tab>-->
        </div>
		<div class="modal-footer" style="margin-top: 30px;">

        </div>

  </div>
</div>
