<h2>Staff you supervise</h2>
<h4>Use the grid below to record the working status of each member of your program or department.</h4>
<p> Double click a cell to edit. Click a cell and click "Copy right" to fill in the cells to the right with that value.</p>

<div ng-show="loaded && employees.length > 0">
    <button ng-show="row.Id" class="btn btn-secondary btn-sm right margin-5" style="margin-top: -40px;" ng-click="copyCellRight()">Copy cell right</button>
    <button ng-show="row.Id" class="btn btn-secondary btn-sm right margin-5" style="margin-top: -40px; margin-right: 115px;" ng-click="copyColumnRight()">Copy column right</button>
    <div id="employee-grid" style="width:100%; min-height: 150px;" class="ag-theme-blue"></div>
</div>

<div ng-show="loaded && employees.length == 0">
    <div class="alert alert-primary">No staff are assigned to you in the system. Contact kenburcham@ctuir.org if that should not be the case.</div>
</div>

<div ng-show="!loaded">
    <div class="alert alert-primary">Loading...</div>
</div>

<div class="modal-footer" style="text-align: left;" ng-show="loaded && employees.length > 0">
    <div style="margin: 10px; float: right;">
        <div class="alert alert-danger" ng-show="save.hasError">{{save.message}}</div>
        <div class="alert alert-success" ng-show="save.hasSuccess">{{save.message}}</div>
        <div class="alert alert-primary" ng-show="save.isSaving">Saving changes...</div>
        <button ng-disabled="save.isSaving" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button ng-disabled="save.isSaving" class="btn btn-primary" ng-click="saveRecords()">Save</button>
    </div>
</div>