
<div style="display: inline-flex">
    <div class="header-label">{{field.Label}}: </div>
    <div class="header-value" style="margin-left: -2px; ">
        <select class="form-control" ng-model="row.Activity.AccuracyCheckId">
            <option ng-repeat="check in row.Activity.Instrument.AccuracyChecks" ng-selected="check.Id == row.Activity.AccuracyCheckId" value="{{check.Id}}">{{check | dataGrade}} on {{check.CheckDate | date}}</option>
        </select>
    </div>
    <div style="margin-top: 5px; margin-left: 5px;"><button class="btn btn-xs" ng-click="openAccuracyCheckModal()">Add</button></div>
</div>
