<div class="form-group" ng-class="{ 'has-error' : headerFieldErrors[field.DbColumnName] }" style="margin-bottom: 0px;">
    <div class="header-label">{{field.Label}}:</div>
    <div class="header-value">
        <select class="form-control" ng-model="row.Activity.ActivityQAStatus.QAStatusId" convert-to-number>
            <option ng-repeat="qa in dataset.QAStatuses" value="{{qa.Id}}">{{qa.Name}}</option>
        </select>
        <p class="field-error-block" ng-show="headerFieldErrors[field.DbColumnName]" ng-repeat="error in headerFieldErrors[field.DbColumnName]">{{error}}</p>
    </div>
</div>
