    <div class="header-label">{{field.Label}}: </div>
    <div style="margin-top: 5px; margin-left: 7px; float:right;"><button class="btn btn-xs" ng-click="createInstrument()">Add</button></div>
    <div class="header-value" >
        <select style="width: 256px;" ui-select2="select2Options" data-placeholder="Choose an Instrument" ng-change="selectInstrument()" style="width: 200px; " ng-model="row.Activity.InstrumentId">
            <option ng-repeat="instrument in project.Instruments | orderBy:'Name'" value="{{instrument.Id}}">{{instrument.Name}} ({{instrument.SerialNumber}})</option>
        </select>
    </div>
    
