<div class="modal-header">
    <h3>Edit Fee</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <form novalidate class="row-form modal-form" name="headerForm">

            <div ng-repeat="field in permitColumnDefs | filter:{ColumnIndex:5}" ng-switch on="field.ControlType">
                <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                <ctuir-radio-field ng-switch-when="radio"></ctuir-radio-field>
                <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                <ctuir-link-field ng-switch-when="link"></ctuir-link-field>
                <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                <ctuir-text-field ng-switch-default></ctuir-text-field>
            </div>
            
        </form>
    </div>
</div>
<div class="modal-footer">
    <button style="margin-top: 30px;" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button ng-disabled="row.validationErrors.length>0" style="margin-top: 30px;" class="right btn" ng-click="save()">Save Changes</button>

    <div ng-show="SaveMessage" style="float: right;margin-right: 20px;margin-top:25px;" class="alert alert-success">{{SaveMessage}}</div>

</div>

