<h3>Permits Dashboard</h3>

<div class="right btn-group btn-group-toggle" style="margin-top: -45px;">
    <label class="btn btn-sm btn-secondary" ng-class="{ active : clickselect == 'allstaff' }">
        <input ng-change="changeClickSelect()" type="radio" ng-model="clickselect" value="allstaff" class="hide"> All staff
    </label>
    <label class="btn btn-sm btn-secondary" ng-class="{ active : clickselect == 'mine' }">
        <input ng-change="changeClickSelect()" type="radio" ng-model="clickselect" value="mine" class="hide"> Assigned to me
    </label>
</div>

<div class="container" style="margin-top: 30px;">

    <div class="row">

        <div class="col-md-6">

            <div style="display: flex; margin-left: 85px;">

                <div class="card" style="width:18rem;">
                    <div class="card-body">
                        <h1 class="card-title">{{DisplayStats['New Application']}}</h1>
                        <p class="card-text">New Applications</p>
                    </div>
                </div>

                <div class="card" style="width:18rem;">
                    <div class="card-body">
                        <h1 class="card-title">{{DisplayStats['Under Review']}}</h1>
                        <p class="card-text">Under Review</p>
                    </div>
                </div>
            </div>
            <div style="display: flex; margin-left: 85px;">
                <div class="card" style="width:18rem;">
                    <div class="card-body">
                        <h1 class="card-title">{{DisplayStats['Approved']}}</h1>
                        <p class="card-text">Conditionally/Approved</p>
                    </div>
                </div>

                <div class="card" style="width:18rem;">
                    <div class="card-body">
                        <h1 class="card-title">{{DisplayStats['Incomplete']}}</h1>
                        <p class="card-text">Incomplete</p>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-md-6">

            <div class="panel panel-default" style="padding: 20px;">
                <h4>Outstanding Requests</h4>
                <div id="outstanding-requests-grid" style="height: 200px;width:450px;" class="ag-theme-blue"></div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default" style="padding: 20px; ">
                <h4>Upcoming Public Hearing Events</h4>
                <div id="publichearing-permits-grid" style="height: 200px;width:500px" class="ag-theme-blue"></div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="panel panel-default" style="padding: 20px;">
                <h4>Expiring Permits</h4>
                <div id="expiring-permits-grid" style="height: 200px;width:500px" class="ag-theme-blue"></div>
            </div>

        </div>
    
    </div>

</div>




