<ul class="breadcrumb">
    <li>Admin <span class="divider"></span> </li>
    <li class="active">User Analytics</li>
</ul>

<h3>User Analytics</h3>
<p>Below is a summary of user requests to the system for the past month.</p>

<div class="panel panel-default"  style="width: 60%">

    <table class="table table-striped">
        <tr><th>Username</th><th>Date</th><th>Requests</th></tr>
        <tr ng-repeat="line in analytics">
            <td class="modal-file-col1">{{line.username}}</td>
            <td class="modal-file-col2">{{line.OnDate}}</td>
            <td class="modal-file-col2">{{line.hits}}</td>
        </tr>
    </table>

</div>