<div class="modal-header">
  	<h4>{{header_message}}</h4>
</div>
<div class="modal-body">

    <form name="form" class="css-form modal-form" novalidate>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" data-target="#basicinfo">Basic Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#meta">Project</a>
            </li>
            <li ng-show="Profile.isAdmin()" class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#config">Config</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="basicinfo">
                <div class="list-group media-list media-list-stream">
                    <div style="margin-top: 30px;"></div>

                    <div>
                        <div class="header-label">Program/Project Name:</div>
                        <div class="header-value">
                            <input class="form-control" type="text" ng-model="row.Name" />
                        </div>
                    </div>
                    <div>
                        <div class="header-label">Description/Mission:</div>
                        <div class="header-value">
                            <div title="Description" class="quad-report"></div>
                            <textarea rows="5" class="form-control" ng-model="row.Description"></textarea>
                        </div>
                    </div>

                    <div>
                        <div class="header-label">Project Start Date</div>
                        <div class="header-value">
                            <md-datepicker class="form-control" ng-model="row.StartDate" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
                        </div>
                    </div>
                    <div>
                        <div class="header-label">Project End Date</div>
                        <div class="header-value">
                            <md-datepicker class="form-control" ng-model="row.EndDate" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
                        </div>
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="meta">
                <div class="list-group media-list media-list-stream">
                    <div style="margin-top: 30px;"></div>
                    <div ng-repeat="field in project.MetaFields | filter:{ControlType:'!hidden', isHabitat:'!'}" ng-switch on="field.ControlType">
                        <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                        <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                        <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                        <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                        <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                        <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                        <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                        <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                        <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                        <ctuir-multiselect-checkbox-field ng-switch-when="multiselect-checkbox"></ctuir-multiselect-checkbox-field>
                        <ctuir-text-field ng-switch-default></ctuir-text-field>
                    </div>
                </div>
            </div>
           
            <div role="tabpanel" class="tab-pane" id="config">
                <div class="list-group media-list media-list-stream">
                    <div style="margin-top: 30px;"></div>
                    <table class="inherited-properties">
                        <tr>
                            <td class="prop-name">Restrict Role:</td>
                            <td class="prop-val"><input type="text" class="form-control" ng-model="row.Config.RestrictRoles" name="RestrictRoles"/></td>
                        </tr>
                        <tr>
                            <td class="prop-name">Show Lists:</td>
                            <td class="prop-val">
                                <select multiple height="5" style="width: 240px;"><option ng-repeat="lookup in row.Config.Lookups">{{lookup.Label}}</option></select>
                            </td>
                            <td><a href ng-click="openChooseLookupLists()">Choose lists...</a><br /></td>
                        </tr>
                        <tr>
                            <td class="prop-name">Datasets to show Habitat Sites:</td>
                            <td class="prop-val"><textarea rows="10" style="margin-left: 2px;" class="form-control" type="text" ng-model="row.Config.ShowHabitatSitesForDatasets" name="ShowSites"></textarea></td>
                            <td><a href ng-click="openChooseActivityListFields()">Choose datasets...</a><br /></td>
                        </tr>
                    </table>
                    {{getConfig()}}
                </div>
            </div>
        </div>
</form>


</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>

