<div class="modal-header">
  	<h4>{{header_message}}</h4>
</div>
<div class="modal-body">

    <form name="form" class="css-form modal-form" novalidate>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" data-target="#basicinfo">Basic Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#meta">Project</a>
            </li>
            <!-- <li class="nav-item" ng-show="row['Sub-program']=='Habitat'">
                <a class="nav-link" data-toggle="tab" data-target="#hab">Habitat</a>
            </li> -->
            <li ng-show="isAdmin()" class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#config">Config</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="basicinfo">
                <div class="list-group media-list media-list-stream">
                    <div style="margin-top: 30px;"></div>

                    <div>
                        <div class="header-label">Program/Project Name:</div>
                        <div class="header-value">
                            <input class="form-control" type="text" ng-model="row.Name" />
                        </div>
                    </div>
                    <div>
                        <div class="header-label">Description/Mission:</div>
                        <div class="header-value">
                            <div title="Description" class="quad-report"></div>
                            <textarea rows="5" class="form-control" ng-model="row.Description"></textarea>
                        </div>
                    </div>

                    <div>
                        <div class="header-label">Project Start Date</div>
                        <div class="header-value">
                            <md-datepicker class="form-control" ng-model="row.StartDate" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
                        </div>
                    </div>
                    <div>
                        <div class="header-label">Project End Date</div>
                        <div class="header-value">
                            <md-datepicker class="form-control" ng-model="row.EndDate" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
                        </div>
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="meta">
                <div class="list-group media-list media-list-stream">
                    <div style="margin-top: 30px;"></div>
                    <div ng-repeat="field in project.MetaFields | filter:{ControlType:'!hidden', isHabitat:'!'}" ng-switch on="field.ControlType">
                        <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                        <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                        <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                        <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                        <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                        <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                        <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                        <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                        <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                        <ctuir-multiselect-checkbox-field ng-switch-when="multiselect-checkbox"></ctuir-multiselect-checkbox-field>
                        <ctuir-text-field ng-switch-default></ctuir-text-field>
                    </div>
                </div>
            </div>
            <!-- not used
                <div role="tabpanel" class="tab-pane fade in" id="hab">
                    <div class="list-group media-list media-list-stream habitat-form-items">
                        <div style="margin-top: 30px;"></div>
                        <div ng-repeat="field in project.MetaFields | filter:{ControlType:'!hidden', isHabitat:'true'}" ng-switch on="field.ControlType">
                            <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                            <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                            <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                            <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                            <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                            <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                            <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                            <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                            <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                            <ctuir-multiselect-checkbox-field ng-switch-when="multiselect-checkbox"></ctuir-multiselect-checkbox-field>
                            <ctuir-text-field ng-switch-default></ctuir-text-field>
                        </div>
                    </div>
                </div>
            -->
            <div role="tabpanel" class="tab-pane" id="config">
                <div class="list-group media-list media-list-stream">
                    <div style="margin-top: 30px;"></div>
                    <textarea class="form-control" rows="12" ng-model="row.Config">{{row.Config}}</textarea>
                </div>
            </div>
        </div>
</form>


</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>

