<!-- Header shows project heading information, favorites and project image  -->
<div ng-include="'app/core/projects/components/project-detail/templates/project-header.html'"></div>

<div class="content">
    <div class="project-details">
        <div class="panel" style="padding: 10px;">

			<div project-role="editor" class="right" style="margin-top: -80px;">
				<button ng-show="Profile.isAdmin() && project.Name == 'StreamNet'" ng-click="syncToStreamnet()" class="btn">Upload to StreamNet</button>
				<button ng-show="Profile.isAdmin() || UserIsOwner()"" ng-disabled="!project.Id" ng-click="openProjectEditor()" class="btn">Edit Project</button>
			</div>

            <div class="row" ng-if="project.MetaFields.length > 0">
                
                <div class="col-md-6">

                    <h5>{{getMetaField(9).Name}}</h5>
                    <p><pre>{{getMetaField(9).Values | arrayValues}}</pre></p>
						
						<div class="col-md-8">
							<h5>Project Leader</h5>
							<p><pre>{{project.Owner.Fullname}}</pre></p>
					
							<h5>{{getMetaField(44).Name}}</h5>
							<p><pre>{{getMetaField(44).Values | arrayValues}}</pre></p>
							
							<h5>{{getMetaField(45).Name}}</h5>
							<p><pre>{{getMetaField(45).Values | arrayValues}}</pre></p>
						</div>

						<div class="col-md-4">
						
							<h5>{{getMetaField(23).Name}}</h5>
							<p><pre>{{getMetaField(23).Values | arrayValues}}</pre></p>
							
							<h5>{{getMetaField(24).Name}}</h5>
							<p><pre>{{getMetaField(24).Values | arrayValues}}</pre></p>
					
							<h5>{{getMetaField(7).Name}}</h5>
							<p><pre>{{getMetaField(7).Values | arrayValues}}</pre></p> 
						</div>
					</div>
				
                <div class="col-md-6">
                    <h5>{{getMetaField(20).Name}}</h5>
                    <p><pre>{{getMetaField(20).Values | arrayValues}}</pre></p>

					<div>&nbsp;</div>
                    <div class="col-md-2">
                       <h5>Funding Information:</h5>
                    </div>
                    <div class="col-md-10">
                        <h5>{{getMetaField(48).Name}}</h5>
						<p><pre>{{getMetaField(48).Values | arrayValues}}</pre></p>
						<h5>{{getMetaField(47).Name}}</h5>
						<p><pre>{{getMetaField(47).Values | arrayValues}}</pre></p>
                    </div>
                </div>
							<!-- Add staff names -->
					<!--		<p><pre>{{project.Editors.length}}</pre></p> -->

            </div>            
        </div>

    </div>
</div>
