<!-- Header shows project heading information, favorites and project image  -->
<div ng-include="'app/core/projects/components/project-detail/templates/project-header.html'"></div>

<div ng-show="AuthorizedToViewProject">

    <button style="margin-bottom: 15px;" type="button" ng-click="toggleMap()">{{ShowMap.Message}} <span ng-show="!ShowMap.Display" class="glyphicon glyphicon-circle-arrow-right"></span><span ng-show="ShowMap.Display" class="glyphicon glyphicon-circle-arrow-down"></span></button>
    
    <div ng-show="ShowMap.Display">
        <esri-map class="claro" id="map" center="-118.6836,45.6704" zoom="10" basemap="streets" onclick="click">
            <esri-feature-layer url="https://restdata.ctuir.org/arcgis/rest/services/CDMS_ProjectPoints/FeatureServer/0" filter="location"></esri-feature-layer>
        </esri-map>
    </div>


    <div style="width: 100%; display: inline-block; margin-top:30px;">
        <button project-role="editor" style="margin-left: 5px; margin-right:43px;" class="btn right" ng-click="addLocation()">Create</button>
        <button project-role="editor" class="btn right btn-warning" ng-show="dataGridOptions.selectedItems.length > 0" ng-click="deleteLocations()">Delete {{dataGridOptions.selectedItems.length}} Locations</button>
    </div>

    <div class="container-notreally">
        <div class="row">
            <div class="col-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item" style="margin-left: 3px;">
                        <a class="nav-link" ng-click="showProjectLocations()" ng-class="{'active': !selectedDataset}" href>Project</a>
                    </li>
                    <li class="nav-item" ng-repeat="dataset in datasets | filter:{ Name : '!Habitat Sites' }">
                        <a href class="nav-link" ng-class="{'active': selectedDataset && (dataset.Id == selectedDataset.Id) }" ng-click="showLocations(dataset)">{{dataset.Name}}</a>
                    </li>

                </ul>
            </div>
            <div class="col-9">
                <div>
                    <div id="locations-grid" class="ag-theme-blue gridStyle-small"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- handle for map but we don't show it -->
<div style="display:none;" id="map"></div>