 <div class="project-attributes panel" style="width: 800px; padding: 20px;">
                    <table class="table-striped">
                      <tbody>
                      <tr>
                         <td class="metadata-field" style="width: 200px;">Program</td>
                         <td class="metadata-value">{{project.MetadataValue[23]}}</td>
                        </tr>
                        <tr>
                         <td class="metadata-field">Sub-program</td>
                         <td class="metadata-value">{{project.MetadataValue[24]}}</td>
                        </tr>

                        <tr>
                         <td class="metadata-field" style="width: 200px;">Organization</td>
                         <td class="metadata-value">{{project.Organization.Name}}</td>
                        </tr>
                        
                        <tr>
                         <td class="metadata-field">Description</td>
                         <td class="metadata-value">{{project.Description}}</td>
                        </tr>

                        <tr>
                         <td class="metadata-field">Owner</td>
                         <td class="metadata-value">{{project.Owner.Fullname}}</td>
                        </tr>
                        <tr>
                         <td class="metadata-field">Owner Department</td>
                         <td class="metadata-value"></td>
                        </tr>

                        

                        <tr>
                         <td class="metadata-field">Period Description</td>
                         <td class="metadata-value">{{project.MetadataValue[22]}}</td>
                        </tr>
                        
                        <tr>
                         <td class="metadata-field">Start Date</td>
                         <td class="metadata-value">{{project.StartDate | date}}</td>
                        </tr>

                        <tr>
                         <td class="metadata-field">End Date</td>
                         <td class="metadata-value">{{project.EndDate | date}}</td>
                        </tr>


                        <tr>
                         <td class="metadata-field">Project Statement/Goal</td>
                         <td class="metadata-value">{{project.MetadataValue[9]}}</td>
                        </tr>

                        <tr>
                         <td class="metadata-field">Project Objectives</td>
                         <td class="metadata-value" id="details_objectives">{{project.MetadataValue[20]}}</td>
                        </tr>

                        <tr class="program-fields hidden">
                         <td class="metadata-field">BPA Contract Number</td>
                         <td class="metadata-value">{{project.MetadataValue[16]}}</td>
                        </tr>

                      <tr>
                         <td class="metadata-field">Inputs: Funding</td>
                         <td class="metadata-value">{{project.MetadataValue[3]}}</td>
                        </tr>

                      <tr>
                         <td class="metadata-field">Inputs: Staff</td>
                         <td class="metadata-value">{{project.MetadataValue[4]}}</td>
                        </tr>

                      <tr>
                         <td class="metadata-field">Inputs: Collaborators</td>
                         <td class="metadata-value">{{project.MetadataValue[5]}}</td>
                        </tr>

                        <tr>
                         <td class="metadata-field">Outputs</td>
                         <td class="metadata-value" id="details_outputs">{{project.MetadataValue[1]}}</td>
                        </tr>

                        <tr>
                         <td class="metadata-field">Outcomes (progress and trends resulting from outputs)</td>
                         <td class="metadata-value" id="details_outcomes">{{project.MetadataValue[14]}}</td>
                        </tr>

                        <tr>
                         <td class="metadata-field">Impacts (long-term accomplishments and vision)</td>
                         <td class="metadata-value" id="details_impacts">{{project.MetadataValue[15]}}</td>
                        </tr>


                        <tr>
                         <td class="metadata-field">First Foods</td>
                         <td class="metadata-value">{{project.MetadataValue[6] | arrayValues}}</td>
                        </tr>

                        <tr>
                         <td class="metadata-field">River Vision Touchstone</td>
                         <td class="metadata-value">{{project.MetadataValue[8] | arrayValues}}</td>
                        </tr>

                        <tr class="habitat-fields" ng-show="metadataList['Sub-program'].Values=='Habitat'">
                         <td class="metadata-field">Habitat Objectives</td>
                         <td class="metadata-value">{{project.MetadataValue[10] | arrayValues}}</td>
                        </tr>
                        
                        <tr class="habitat-fields" ng-show="metadataList['Sub-program'].Values=='Habitat'">
                         <td class="metadata-field">Limiting Factors</td>
                         <td class="metadata-value">{{project.MetadataValue[21] | arrayValues}}</td>
                        </tr>
                        <tr class="habitat-fields" ng-show="metadataList['Sub-program'].Values=='Habitat'">
                         <td class="metadata-field">NOAA Ecological Concerns</td>
                         <td class="metadata-value">{{project.MetadataValue[19] | arrayValues}}</td>
                        </tr>
                        <tr class="habitat-fields" ng-show="metadataList['Sub-program'].Values=='Habitat'">
                         <td class="metadata-field">NOAA Ecological Concerns Sub-Categories</td>
                         <td class="metadata-value">{{project.MetadataValue[18] | arrayValues}}</td>
                        </tr>
            
                       </tbody>
                    
                    </table>
              </div>