<!-- Header shows project heading information, favorites and project image  -->
<div ng-include="'app/core/projects/components/project-detail/templates/project-header.html'"></div>

<div ng-show="AuthorizedToViewProject">

    <div project-role="editor">
        <button style="margin-top: -10px; margin-left: 10px;" class="right btn" ng-click="newFile()">Upload a new file</button>
    </div>

    <ul class="nav nav-pills" >
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" data-target="#docs" >Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" data-target="#images" >Image Gallery</a>
        </li>
        
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="docs" role="tabpanel">
            <div class="project-files">

                <div style="height: 400px; width: 100%; margin-top: 35px; margin-bottom: 115px;">
                    <div id="docs-tab-grid" class="ag-theme-blue gridStyle-small"></div>
                </div>

                <div class="data-tab-grid-footer">Number of documents in this project: {{project.Docs.length}}</div>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="images">
            <div class="project-files">

                <div style="height: 400px; width: 100%; margin-top: 35px; margin-bottom: 115px;">
                    <div id="gallery-tab-grid" class="ag-theme-blue gridStyle-small"></div>
                </div>

                <div class="data-tab-grid-footer">Number of images in this project: {{project.Images.length}}</div>

            </div>
        </div>

     </div>
</div>
