<!-- Header shows project heading information, favorites and project image  -->
<div ng-include="'app/core/projects/components/project-detail/templates/project-header.html'"></div>

<div ng-show="AuthorizedToViewProject">


    <div style="width: 100%; display: inline-block; margin-top:30px;">
    </div>

    <div class="container-notreally" >
        <div class="row">
            <div class="col-3">
                <h4>Lookup Tables in your project</h4>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item" ng-repeat="lookup in lookupTables">
                        <a href class="nav-link" ng-class="{'active': selectedLookup && (lookup.Id == selectedLookup.Id) }" ng-click="selectLookup(lookup)">{{lookup.Name}}</a>
                    </li>

                </ul>
            </div>

            <div class="col-9">
                <div>
                    <div id="lookups-grid" class="ag-theme-blue gridStyle-small"></div>
                </div>
            </div>

        </div>
    </div>

</div>
