<!-- Header shows project heading information, favorites and project image  -->
<div ng-include="'app/core/projects/components/project-detail/templates/project-header.html'"></div>

<div class="content">
    <div class="project-details">
        <div class="panel" style="padding: 10px;">

			<div project-role="editor" class="right" style="margin-top: -80px;">
				<button ng-show="Profile.isAdmin() && project.Name == 'StreamNet'" ng-click="syncToStreamnet()" class="btn">Upload to StreamNet</button>
				<button ng-show="Profile.isAdmin()" ng-disabled="!project.Id" ng-click="openProjectEditor()" class="btn">Edit Project</button>
			</div>

            <div class="row" ng-if="project.MetaFields.length > 0">
                
                <div class="col-md-7">

                    <h5>{{getMetaField(9).Name}}</h5>
                    <p><pre>{{getMetaField(9).Values | arrayValues}}</pre></p>

                    <h5>{{getMetaField(20).Name}}</h5>
                    <p><pre>{{getMetaField(20).Values | arrayValues}}</pre></p>

                    <h5>{{getMetaField(1).Name}}</h5>
                    <p><pre>{{getMetaField(1).Values | arrayValues}}</pre></p>

                    <h5>{{getMetaField(14).Name}}</h5>
                    <p><pre>{{getMetaField(14).Values | arrayValues}}</pre></p>

                    <h5>{{getMetaField(15).Name}}</h5>
                    <p><pre>{{getMetaField(15).Values | arrayValues}}</pre></p>

                </div>

                <div class="col-md-5">
                    <h5>Project Coordinator</h5>
                    <p><pre>{{project.Owner.Fullname}}</pre></p>

                    <h5>{{getMetaField(23).Name}}</h5>
                    <p><pre>{{getMetaField(23).Values | arrayValues}}</pre></p>

                    <h5>{{getMetaField(24).Name}}</h5>
                    <p><pre>{{getMetaField(24).Values | arrayValues}}</pre></p>
                    <div>&nbsp;</div>
                    <h5>Inputs</h5>
                    <div class="row">
                        <div class="col-md-3">
                            Funding
                        </div>
                        <div class="col-md-9">
                            <p><pre>{{getMetaField(3).Values | arrayValues}}</pre></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            Staff
                        </div>
                        <div class="col-md-9">
                            <p><pre>{{getMetaField(4).Values | arrayValues}}</pre></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            Collaborators
                        </div>
                        <div class="col-md-9">
                            <p><pre>{{getMetaField(5).Values | arrayValues}}</pre></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
