<!-- Header shows project heading information, favorites and project image  -->
<div ng-include="'app/core/projects/components/project-detail/templates/project-header.html'"></div>

<div class="content">
    <div class="project-details">
        <div class="panel" style="padding: 10px;">

			<div project-role="editor" class="right" style="margin-top: -80px;">
				<button ng-show="Profile.isAdmin() && project.Name == 'StreamNet'" ng-click="syncToStreamnet()" class="btn">Upload to StreamNet</button>
				<button ng-show="Profile.isAdmin()" ng-disabled="!project.Id" ng-click="openProjectEditor()" class="btn">Edit Project</button>
			</div>


            <div class="row">
                <div class="col-md-10">

                    <div ng-repeat="field in project.MetaFields | filter:{ControlType:'!hidden'}">
                        <h5>{{field.Name}}</h5>
                        <p><pre>{{field.Values | arrayValues}}</pre></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
