<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{project.Name}} > Manage Correspondence</h3>

                    <div project-role="editor">
                        <button style="margin-top: -10px; margin-left: 10px;" class="right btn" ng-click="createCrppSubproject()">Create Project</button>
                    </div>
                    <p><i>Manage CRPP correspondence with agencies</i></p>
                    <hr />

                    <div style="height: 400px; width: 100%; margin-top: 35px; margin-bottom: 115px;">
                        <div id="crpp-correspondence-grid" class="ag-theme-blue gridStyle-small"></div>
                        <div class="crpp-correspondence-grid-footer">Total correspondence projects: {{subprojectList.length}}</div>
                    </div>

                    <div ng-show="subprojectList.length==0">No correspondence projects are associated with this project.</div>
                </div>
            </div>
        </div>
    </div>
</div>
