	<div class="modal-header">
  		<h4>{{header_message}}</h4>
  	</div>
		
	<div class="import-has-errors"  ng-show="subprojectSave.error">		
		<div class="alert alert-danger" ng-show="subprojectSave.error">
			<!--Project Name cannot be blank!-->
			{{errorMessage}}
		</div>
		<!--<div class="alert alert-info" ng-show="!subprojectSave.error" >
			Fisherman does not exist.
		</div>-->
	</div>
		
  	<div class="modal-body">
		<form name="form" class="css-form modal-form" novalidate> <!-- We need this line, to make the directives work.-->
			<p>* = Required Items</p>
			<div class="header-label">*Project Name</div>
			<div class="header-value">
				<input  class="form-control" type="text" ng-model="subproject_row.ProjectName" />
			</div>
			<div class="header-label">Project Description</div>
			<div class="header-value">
				<textarea type="text" rows="4" class="form-control" ng-model="subproject_row.ProjectDescription" ></textarea>
			</div>
				
			<div class="header-label">Lead Agency</div>
			<div class="header-value">
                <select ui-select2="select2Options" data-placeholder="Choose an Agency" style="width: 300px; margin-top: 4px;" ng-model="subproject_row.Agency" ng-change="selectAgency()">
                    <option ng-repeat="agency in getMetafield('Agency')" value="{{agency}}">{{agency}}</option>
                </select>				
			</div>
			<div>
				<div ng-show="showOtherAgency">
					<div class="header-label">Other Agency Name</div>
					<div class="header-value">
						<input class="form-control" type="text" ng-model="subproject_row.OtherAgency" />
					</div>
				</div>
			</div>
				
			<div class="header-label">Project Proponent</div>			
			<div class="header-value">
                <select ui-select2="select2Options" data-placeholder="Choose a Project Proponent" style="width: 300px; margin-top: 4px;" ng-model="subproject_row.ProjectProponent" ng-change="selectProjectProponent()">
                    <option ng-repeat="agency in getMetafield('Agency')" value="{{agency}}">{{agency}}</option>
                </select>	
			</div>
			<div>
				<div ng-show="showOtherProjectProponent">
					<div class="header-label">Other Project Proponent Name</div>
					<div class="header-value">
						<input class="form-control" type="text" ng-model="subproject_row.OtherProjectProponent" ng-click="enteredSomethingElse()"/>
					</div>
				</div>
			</div>
				
			<div class="form-group" style="margin-bottom: 0px;">
				<div class="header-label">County Options</div>
				<div class="header-value" style="margin-left: -6px;">
					<table>
						<tr>
							<td>
                                <select class="form-control" ng-model="subproject_row.County" ng-change="selectCounty()">
                                    <option ng-repeat="county in getMetafield('County')" value="{{county}}">{{county}}</option>
                                </select>
							</td>
							<td><button class="right btn btn-xs" ng-click="addCounty()">+</button></td>
							<td><button class="right btn btn-xs" ng-click="removeCounty()">-</button></td>
						</tr>
					</table>
				</div>
			</div>
				
			<div>
				<div ng-show="showOtherCounty">
					<div class="header-label">Other County Name</div>
					<div class="header-value">
						<input class="form-control" type="text" ng-model="subproject_row.OtherCounty" />
					</div>
				</div>
			</div>
				
			<!-- -->
			<div class="header-label">Selected Counties</div>
			<div class="header-value">
				<!--<input class="form-control" type="text" ng-model="subproject_row.txtCounty" />-->
				<textarea class="form-control" type="text" rows="4"  readonly ng-model="subproject_row.strCounties" ng-keydown="checkKeyPress($event)"></textarea>
			</div>
			<!-- -->

				
			<div class="header-label">Tracking Number</div>
			<div class="header-value">
				<input  class="form-control" type="text" ng-model="subproject_row.TrackingNumber" ng-focus="enteredSomethingElse()"/>
			</div>
				
			<div class="header-label">UIR</div>
			<div class="header-value">
				<select class="form-control" ng-model="subproject_row.UIR" ng-focus="enteredSomethingElse()">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
			</div>

			<div class="header-label">Off-Reservation Tribal Fee?</div>
			<div class="header-value">
				<select class="form-control" ng-model="subproject_row.OffResTribalFee" ng-focus="enteredSomethingElse()">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
			</div>		

			<div class="header-label">Add'l CRPP Action Expected?</div>
			<div class="header-value">
				<select class="form-control" ng-model="subproject_row.Closed" ng-focus="enteredSomethingElse()">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>	
			</div>
				
			<div class="header-label">*Project Lead</div>
			<div class="header-value">
                <select class="form-control" ng-model="subproject_row.ProjectLead" ng-focus="enteredSomethingElse()">
                    <option ng-repeat="ctype in getMetafield('ProjectLead')" value="{{ctype}}">{{ctype}}</option>
                </select>	
			</div>
			<div class="header-label">Comments</div>
			<div class="header-value">
				<textarea type="text" rows="4" class="form-control" ng-model="subproject_row.Comments" ></textarea>
			</div>

		</form>
  	</div>
	<div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
