    <div class="modal-header">
        <h4>{{header_message}}</h4>
    </div>
    <div class="modal-body">

        <div ng-show="showFormItems">
            <form name="form" class="css-form modal-form" novalidate>
                <p>* = Required Items</p>
                <div class="header-label">*Date on Correspondence</div>
                <div class="header-value">
                    <input class="form-control" type="text" datepicker-popup="MM/dd/yyyy" ng-model="ce_row.CorrespondenceDate" is-open="aopened" min="'2000-01-01'" max="'2020-12-31'" datepicker-options="dateOptions" ng-required="false" close-text="Close" ng-change="calculateDateOfResponse()" />
                </div>

                <div class="header-label">Copy of the Received Document</div>
                <div class="header-value form-file">
                    <button class="right btn btn-xs" ng-click="openFileModal(ce_row, 'EventFiles')">Add/Remove</button>
                    <div ng-bind-html="ce_row['EventFiles'] | fileNamesFromString:this">&nbsp;</div>
                </div>

                <div class="header-label">Type of Correspondence</div>
                <div class="header-value">
                    <select class="form-control" ng-model="ce_row.CorrespondenceType" ng-change="selectCorrespondenceType()">
                        <option ng-repeat="ctype in getMetafield('CorrespondenceType')" value="{{ctype}}">{{ctype}}</option>
                    </select>
                </div>
                <div>
                    <div ng-show="showOtherCorrespondenceType">
                        <div class="header-label">Other Type of Correspondence</div>
                        <div class="header-value">
                            <input class="form-control" type="text" ng-model="ce_row.OtherCorrespondenceType" />
                        </div>
                    </div>
                </div>

                <div class="header-label">Type of Response</div>
                <div class="header-value">
                    <select ui-select2="select2Options" data-placeholder="Choose a Type of Response" style="width: 300px; margin-top: 4px;" ng-model="ce_row.ResponseType" ng-change="selectResponseType()">
                        <option ng-repeat="ceResponseType in getMetafield('ResponseType')" value="{{ceResponseType}}">{{ceResponseType}}</option>
                    </select>
                </div>

                <div>
                    <div ng-show="showOtherResponseType">
                        <div class="header-label">Other Type of Response</div>
                        <div class="header-value">
                            <input class="form-control" type="text" ng-model="ce_row.OtherResponseType" />
                        </div>
                    </div>
                </div>

                <div class="header-label">Number of Days</div>
                <div class="header-value">
                    <select class="form-control" ng-model="ce_row.NumberOfDays" ng-change="calculateDateOfResponse()">
                        <option value="7">7</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                        <option value="60">60</option>
                        <option value="70">70</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="header-label">Date of Response</div>
                <div ng-class="{'hidden': ce_row.other}">
                    <div class="header-value">
                        <input class="form-control" type="text" datepicker-popup="MM/dd/yyyy" ng-model="ce_row.ResponseDate" is-open="bopened" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
                    </div>

                    <div class="header-label">*Staff Member</div>
                    <div class="header-value">
                        <select class="form-control" ng-model="ce_row.StaffMember">
                            <option ng-repeat="ctype in getMetafield('StaffMember')" value="{{ctype}}">{{ctype}}</option>
                        </select>
                    </div>
                    <div class="header-label">Comments</div>
                    <div class="header-value">
                        <textarea type="text" rows="4" class="form-control" ng-model="ce_row.EventComments"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div ng-show="!showFormItems && filesToUpload[file_field].length > 0">
        <h4>Files to upload:</h4>
        <table class="table striped">
            <tr ng-repeat="file in filesToUpload[file_field]">
                <td class="modal-file-col1">{{file.name}}</td>
                <td class="modal-file-col2">{{file.success}}</td>
            </tr>
        </table>

    </div>

    <div ng-show="removedFiles.length>0">
        <hr />
        <h4>Removing files:</h4>
        <table class="table striped">
            <tr ng-repeat="file in removedFiles">
                <td class="modal-file-col1">{{file.Name}}</td>
                <td class="modal-file-col2">{{file.success}}</td>
            </tr>
        </table>
    </div>

    <div ng-show="showCancelButton" class="modal-footer" style="margin-top: 30px;">
        <button class="btn btn-warning right" style="margin: 10px;" ng-click="cancel()">Cancel</button>
        <button project-role="editor" class="btn btn-primary right" style="margin: 10px;" ng-click="save()">Save</button>
        <div><img ng-show="loading" src="assets/images/FishLoading.gif" />{{ReadyToClose}}</div>

    </div>
    <div ng-show="showCloseButton" class="modal-footer-center" style="margin-top: 30px;">
        <label>{{UploadUserMessage}}</label>
        <br>
        <button class="btn btn-primary" style="margin: 10px;" ng-click="close()">Close</button>
    </div>

