<div ng-include="'app/private/leasing/components/manage/templates/leasing-header.html'"></div>

<h2>Active leases</h2>

<div class="right">Show all statuses: <input type="checkbox" ng-true-value="Yes" ng-false-value="No" ng-checked="showAll == 'Yes'" ng-model="showAll" ng-click="toggleShowAll()" /></div>
<div ng-show="leases.length > 0">
    Total number of active leases: <b>{{leases.length}}</b><br /><br />
</div>
<div ng-show="leases.length == 0">
    Loading active leases...
</div>

<div id="active-leases-grid" style="height: 600px;width:100%;" class="ag-theme-blue"></div>