        <div class="modal-content">
            <div class="modal-header" style="display: block;">
                <h4>{{header_message}} for lease: {{lease.LeaseNumber}}</h4>
                <div><b>Allotment:</b> {{lease.AllotmentName}}</div>
                <div><b>Operator:</b> {{lease.LeaseOperator | operOrgName}}</div>
            </div>
            
            <div class="modal-body">


                <form name="form" class="css-form modal-form" novalidate>

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" data-target="#cropinfo">Crop Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" data-target="#financial">Financial</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="cropinfo">
                            <div class="list-group media-list media-list-stream">

                                <div style="margin-top: 30px;"></div>

                                <div class="header-label">Lease Year</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.LeaseYear" />
                                </div>

                                <!--
                                    <div class="header-label">Lease Year</div>
                                    <div class="header-value">
                                        <select class="form-control" ng-model="production_modal.LeaseYear">
                                            <option ng-repeat="plan in lease.LeaseCropPlans | orderBy:'LeaseYear'" ng-selected="production_modal.LeaseYear == plan.LeaseYear" value="{{plan.LeaseYear}}">{{plan.LeaseYear}}</option>
                                        </select>
                                    </div>
                                -->

                                <div style="margin-top: 10px;"></div>

                                <div class="header-label">Crop Acres</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.CropAcres" />
                                </div>

                                <div class="header-label">Crop</div>
                                <div class="header-value">
                                    <select class="form-control" ng-model="production_modal.HarvestedCrop">
                                        <option ng-repeat="option in cropOptions.ListValues  | orderBy:'+'" ng-selected="production_modal.HarvestedCrop == option" value="{{option}}">{{option}}</option>
                                    </select>
                                </div>

                                <div class="header-label">Delivery Unit</div>
                                <div class="header-value">
                                    <select class="form-control" ng-model="production_modal.DeliveryUnit">
                                        <option ng-repeat="unit in productionDeliveryUnits.ListValues" ng-selected="production_modal.DeliveryUnit == unit" value="{{unit}}">{{unit}}</option>
                                    </select>
                                </div>

                                <div class="header-label">Type</div>
                                <div class="header-value">
                                    <select class="form-control" ng-model="production_modal.CropType">
                                        <option ng-repeat="type in productionTypes.ListValues | orderBy:'+'" ng-selected="production_modal.CropType == type" value="{{type}}">{{type}}</option>
                                    </select>
                                </div>

                                <div class="header-label">Variety</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.CropVariety" />
                                </div>

                                <div class="header-label">Harvest Date</div>
                                <div class="header-value">
                                    <md-datepicker class="form-control" ng-model="production_modal.HarvestDate" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
                                </div>

                                <div class="header-label">Delivery</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.DeliveryPoint" />
                                </div>

                                <div class="header-label">Location</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.DeliveryLocation" />
                                </div>

                                <div class="header-label">Gross</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-value="production_modal.Gross" ng-model="production_modal.Gross" />
                                </div>




                                <div class="header-label">Grade</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.CropGrade" />
                                </div>

                                <div class="header-label">Net</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.Net" />
                                </div>

                                <div class="header-label">Avg. Yield/Acre</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.YieldAcre" />
                                </div>

                                <div style="margin-top: 5px;">
                                    <div class="header-label">Notes</div>
                                    <div class="header-value">
                                        <textarea class="form-control" rows="4" cols="50" ng-model="production_modal.Comments"></textarea>
                                    </div>
                                </div>

                                <div class="header-label">Posted By</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.IncomePostedBy" />
                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" id="financial">
                            <div class="list-group media-list media-list-stream">
                                <div style="margin-top: 30px;"></div>

                                <div class="header-label">Owner Share Percent</div>
                                <div class="header-value">
                                    <input class="form-control" ui-number-mask="0" type="text" ng-model="production_modal.OwnerSharePercent"  />
                                </div>

                                <div class="header-label">Owner Share Dollar</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.OwnerShareDollar" ui-currency />
                                </div>


                                <div class="header-label">Market Unit</div>
                                <div class="header-value">
                                    <select class="form-control" ng-model="production_modal.MarketUnit">
                                        <option ng-repeat="unit in productionDeliveryUnits.ListValues" ng-selected="production_modal.MarketUnit == unit" value="{{unit}}">{{unit}}</option>
                                    </select>
                                </div>

                                <div class="header-label">Market Price Per Unit</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.MarketPrice" ui-currency />
                                </div>


                                <div class="header-label">Rent Due</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.CropShareDollar" ui-currency />
                                </div>


                                <div class="header-label">Deduction</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.Deduction" ui-currency />
                                </div>


                                <div class="header-label">Deduction Type</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.DeductionType" />
                                </div>


                                <div class="header-label">Payment Amount</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.PaymentAmount" ui-currency />
                                </div>


                                <div class="header-label">Payment Type</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.PaymentType" />
                                </div>


                                <div class="header-label">Total Payment Amount</div>
                                <div class="header-value">
                                    <input class="form-control" type="text" ng-model="production_modal.TotalPaymentAmount" ui-currency />
                                </div>


                                <div class="header-label">Date of Income</div>
                                <div class="header-value">
                                    <md-datepicker class="form-control" ng-model="production_modal.IncomeDate" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="save()">Save</button>
            </div>


        </div>
