        <div class="modal-content">
    <div class="modal-header">
        <h4>{{header_message}}: {{lease.LeaseNumber}}</h4>
    </div>

    <div id="inspection-header" style="margin: 20px;">
        <div style="width: 500px;">
            <table class="table inspection-data-table">
                <tr>
                    <td>Allotment</td>
                    <td>{{lease.AllotmentName}}</td>
                </tr>
                <tr>
                    <td>Operator</td>
                    <td>{{lease.LeaseOperator | operOrgName}}</td>
                </tr>
                <tr>
                    <td>Total Acres</td>
                    <td>{{lease.LeaseAcres}}</td>
                </tr>
                <tr>
                    <td>Lease Expires</td>
                    <td>{{lease.LeaseEnd | date : shortDate}}</td>
                </tr>
            </table>

        </div>
    </div>

    <div class="modal-body modal-form" style="width: 600px;">
        <div style="margin-top: 10px;"></div>

        <div class="header-label">Lease Year</div>
        <div class="header-value">
            <input class="form-control" type="text" ng-model="inspection_modal.LeaseYear" />
        </div>


        <div class="header-label">Date of Inspection</div>
        <div class="header-value">
            <md-datepicker class="form-control" ng-model="inspection_modal.InspectionDateTime" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
        </div>

        <div class="header-label">Inspector</div>
        <div class="header-value">
            <input class="form-control" type="text" ng-model="inspection_modal.InspectedBy" />
        </div>

        <div class="header-label">Inspection Type:</div>
        <div class="header-value">
            <select class="form-control" ng-model="inspection_modal.InspectionType">
                <option ng-repeat="option in complianceInspectionTypes.ListValues | orderBy:'+'" ng-selected="inspection_modal.InspectionType == option" value="{{option}}">{{option}}</option>
            </select>
        </div>

        <div class="header-label">Failed Inspection</div>
        <div class="header-value">
            <input class="form-control" type="checkbox" ng-model="inspection_modal.OutOfCompliance" />
        </div>



        <div class="header-label">Violation Type:</div>
        <div class="header-value">
            <select class="form-control" ng-model="inspection_modal.ViolationType">
                <option ng-repeat="option in violationTypes.ListValues | orderBy:'+'" ng-selected="inspection_modal.ViolationType == option" value="{{option}}">{{option}}</option>
            </select>
        </div>


        <div style="margin-top: 5px;">
            <div class="header-label">Notes</div>
            <div class="header-value">
                <textarea class="form-control" rows="4" cols="50" ng-model="inspection_modal.Notes"></textarea>
            </div>

        </div>



    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>


</div>
