<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="#!/leasing">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-class="{'active': currentPage=='Active'}" href="#!/active-leases">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-class="{'active': currentPage=='Pending'}" href="#!/pending-leases">Pending</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-class="{'active': currentPage=='Available'}" href="#!/available-land">Available land</a>
    </li>
    
</ul>

<hr/>