<h2>Manage Dropdown Lists</h2>
Click the List below to view the options that will display in the corresponding dropdown list. Update the list by adding or removing items. Make sure each item appears on a line by itself without any punctuation.<br/><br/>

<div id="sticky-box" style="float: right;" ng-show="selectedLookup">
    <div ng-hide="selectedLookup" class="col-md-6 admin-criteria-list-box"><H2 class="text-center">Select a field</H2></div>
    <div ng-show="selectedLookup" class="col-md-6 admin-criteria-list-box">
        <div class="row">
            <div class="col-md-12">
                {{selectedLookup.Name}}<br />
                <textarea style="height: 150px;" ng-model="selectedLookup.DisplayListValues"></textarea><br/>
                <button class="btn btn-primary" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div style="margin-bottom: 15px;" ng-repeat="lookup_list in lookup_lists | orderBy:'Name'">
        <a href="" ng-click="selectLookupList(lookup_list.Id)">{{lookup_list.Name}}</a>
        <br />
        <div style="color: gray;"><i>{{lookup_list.ListValues | countItems}} items</i></div>
    </div>
</div>

