<style>
    .well {
        margin: 0px !important;
        height: 100%;
        padding: 0px;
    }

    #wrap {
        height: 91%;
        padding: 0px;
        margin: 0px;
    }

    .navbar {
        margin-bottom: 0px;
    }

    #map {
        height: 90%;
        width: 99.5%;
        position: absolute;
        margin: 0px;
        padding: 0px;
    }

    .leases-sidebar {
        height: 92%;
        width: 50%;
        padding: 7px;
        border-radius: 3px;
        margin-top: 5px;
        overflow-y: auto;
        background: white;
        z-index: 9;
        position: absolute;
    }

    .lease-search {
        height: 88%;
        width: 500px;
        padding: 7px;
        border-radius: 3px;
        margin-top: 5px;
        overflow-y: auto;
        background: white;
        z-index: 9;
        position: absolute;
    }

    .esriSimpleSlider {
        display: none;
    }

    .tab-lease ul {
        width: 750px;
        list-style-type: none;
        list-style-position: outside;
        margin: 0px;
        padding: 0px;
    }

    .tab-lease li {
        padding: 12px;
        border-bottom: 1px solid #eee;
        position: relative;
    }

    .tab-lease label {
        width: 150px;
        margin-top: 3px;
        display: inline-block;
        float: left;
        padding: 3px;
    }

    .lease-table {
        margin-bottom: 30px;
    }

    .search-button {
        float: right;
        margin-left: 10px;
        margin-right: 55px;
    }

    .search-text-control {
        margin-left: 10px;
        width: 250px;
    }

    .pointer {
        cursor: pointer;
    }

    .lease-search-results {
        margin-top: 20px;
    }

    .search-results-text {
        margin-top: 30px;
        width: 160px;
        border: .5px solid #d1d1d1;
        padding: 3px;
        text-align: center;
        background: #fff1f3;
        margin-left: 30px;
    }
</style>

<div id="map">
    <leasing-map class="claro" id="map" center="-118.6836,45.6704" zoom="2" onclick="click"></leasing-map>
</div>

<div class="right btn-group btn-group-toggle">
    <label class="btn btn-sm btn-secondary" ng-class="{ active : clickselect == 'allotments' }">
        <input type="radio" ng-model="clickselect" value="allotments" class="hide" > Allotments
    </label>
    <label class="btn btn-sm btn-secondary" ng-class="{ active : clickselect == 'fields' }">
        <input type="radio" ng-model="clickselect" value="fields" class="hide"> Fields
    </label>
</div>

<div class="lease-search">
    <h3>Search for lease or allotment:</h3>
    <form>
        <button class="btn btn-sm search-button" ng-disabled="leases.length==0" ng-click="searchButton()" type="submit">Search</button>
        <input class="form-control search-text-control" type="text" ng-model="searchTerm" name="lease-search" />
    </form>
    <div ng-show="searchResults.length > 0" class="lease-search-results">

        <div id="search-leases-grid" style="height: 400px;width:100%;" class="ag-theme-blue"></div>

    </div>

    <div class="search-results-text" ng-if="leases.length == 0">Loading...</div>
    <div class="search-results-text" ng-if="searchResults.length == 0 && searchComplete">No results.</div>


</div>



