<div ng-include="'app/private/leasing/components/manage/templates/leasing-header.html'"></div>

<h2>Pending leases</h2>

Total number of pending leases: <b>{{leases.length}}</b><br /><br />
Pending leases per level:<br />
<table width="160" cellpadding="5" border="1" style="border-color: grey; margin-left: 20px; margin-top: 10px; margin-bottom: 15px;">
    <tr><td>Level 1</td><td> <b>{{countLevel(1)}}</b></td></tr>
    <tr><td>Level 2</td><td> <b>{{countLevel(2)}}</b></td></tr>
    <tr><td>Level 3</td><td> <b>{{countLevel(3)}}</b></td></tr>
</table>

<div id="pending-leases-grid" style="height: 400px;width:100%;" class="ag-theme-blue"></div>