<h4>Information for this fisherman</h4>

<!--<div ng-show="viewInstrument.AccuracyChecks.length == 0">There are information recorded for this fisherman.</div>-->

<!--<div ng-show="viewInstrument.AccuracyChecks.length > 0">-->
	<table style="background-color: lightyellow;" class="table table-striped table-bordered table-condensed">
	<tr >
		<tr><td>First Name:</td><td>{{viewFisherman.FirstName}}</td></tr>
		<tr><td>AKA:</td><td>{{viewFisherman.Aka}}</td></tr>
		<tr><td>Last Name:</td><td>{{viewFisherman.LastName}}</td></tr>
		<tr><td>Phone Number:</td><td>{{viewFisherman.PhoneNumber}}</td></tr>
		<!--<tr><td>Date Added:</td><td>{{viewFisherman.DateAdded}}</td></tr>-->
		<tr><td>Comments:</td><td>{{viewFisherman.FishermanComments}}</td></tr>
		
		<!--<tr><td>Status:</td><td>{{viewFisherman.StatusId}}</td></tr>-->
		<tr><td>Status:</td><td>{{viewFisherman.Status}}</td></tr>
		
		<tr><td>OK to Call:</td><td>{{viewFisherman.OkToCall}}</td></tr>		
		
		<!--<tr><td>Date Inactive:</td><td>{{viewFisherman.DateInactive}}</td></tr>-->
		<!--</tr>-->
	</table>
<!--</div>-->

