<esri-map class="claro" id="map" center="-118.45,45.56" zoom="11" basemap="streets" onclick="click">
    <esri-feature-layer url="//arcserv.ctuir.org/arcgis/rest/services/CDMS_ProjectPoints/FeatureServer/0"></esri-feature-layer>
</esri-map>

<h3>Projects List</h3>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
 		    <!--<div class="right">-->
                <button class="btn" ng-click="openAddProject()">New Project</button>
            <!--</div>-->

        	<!--<div style="padding: 8px; width: 260px;">
                <input class="form-control" ng-model="gridOptionsFilter.filterText" placeholder="Filter By" type="text"/><img class="right" style="margin-top: -30px;" src="assets/images/search-sm.png"/>
            </div>-->

            <div style="height: 400px; width: 100%; margin-top: 10px;">
                <div id="project-list-grid" class="ag-blue gridStyle-small"></div>    
            </div>
            Total projects: {{projects.length}} 
            <hr/>
            <button class="btn" ng-click="reloadRows()">Reload Rows</button>
            
        </div>
    </div>
</div>