
<div class="modal-header">
	<h4>{{header_message}}</h4>
</div>
			
			
<div class="modal-body" id="modal-body">

    <div class="import-has-errors" ng-show="subprojectSave.error">
        <div class="alert alert-danger" ng-show="subprojectSave.error">
            {{subprojectSave.errorMessage}}
        </div>
    </div>
    <div ng-show="showFormItems">

        <div class="right"><p>* = Required Items.</p></div>

        <div class="row">

            <form name="form" class="row-form modal-form" novalidate>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" data-target="#project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#loc">Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#hab">Habitat</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="project">
                        <div class="list-group media-list media-list-stream" style="display:block;">
                            <div style="margin-top: 30px;"></div>

                            <div class="header-label">* Project Name</div>
                            <div class="header-value">
                                <input class="form-control" type="text" ng-model="row.ProjectName" />
                            </div>

                            <div class="header-label">Waterbody:</div>
                            <div class="header-value">
                                <select class="form-control" ng-model="row.WaterBodyId" ng-options="p.Id as p.Name for p in waterbodies"></select>
                            </div>

                            <div class="header-label">Project Summary</div>
                            <div class="header-value">
                                <textarea class="form-control" type="text" rows="4" maxlength="255" ng-model="row.ProjectSummary"></textarea>
                            </div>
                            <div class="header-label">Project Description</div>
                            <div class="header-value">
                                <textarea class="form-control" type="text" rows="4" ng-model="row.ProjectDescription"></textarea>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : currentFiles.length > 1}" style="margin-bottom: 0px;">
                                <div class="header-label">Feature Image</div>
                                <div class="header-value form-file">
                                    <button class="right btn btn-xs" ng-click="openFileModal(row, 'ItemFiles')">Add/Remove</button>
                                    <div ng-bind-html="row['ItemFiles'] | fileNamesFromString:this">&nbsp;</div>
                                </div>
                                <div class="has-error" ng-if="currentFiles.length > 1">Error: Only one Featured Image allowed; remove one.</div>
                            </div>

                            <div class="header-label">Project Start Date</div>
                            <div class="header-value">
                                <md-datepicker class="form-control" ng-model="row.ProjectStartDate" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
                            </div>

                            <div class="header-label">Project End Date</div>
                            <div class="header-value">
                                <md-datepicker class="form-control" ng-model="row.ProjectEndDate" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' :  form.Funding.$error.float}" style="margin-bottom: 0px;">
                                <div class="header-label">Funding Agency</div>
                                <div class="header-value">
                                    <button class="right btn btn-xs" ng-click="addFundingAgency()" style="margin: 2px; margin-right:20px;">+</button>
                                    <button class="right btn btn-xs" ng-click="removeFundingAgency()" style="margin: 2px;">-</button>

                                    <select class="form-control" style="margin-top: 4px;" ng-model="row.fundingName" ng-change="selectFunder()">
                                        <option ng-repeat="funder in getMetafield('Funder')" value="{{funder}}">{{funder}}</option>
                                    </select>
                                    <input class="form-control-smallNumber" style="margin-left: 240px;" name="Funding" ng-model="row.fundingAmount" placeholder="ex: 1000" smartfloat />

                                    <p class="field-error-block" ng-show="form.Funding.$error.float">This is not a valid number.</p>
                                </div>
                            </div>

                            <div>
                                <div ng-show="showOtherFunder">
                                    <div class="header-label">Other Funding Agency</div>
                                    <div class="header-value">
                                        <input class="form-control" type="text" ng-model="row.OtherFundingAgency" />
                                    </div>
                                </div>
                            </div>

                            <!--<div ng-show="showFundingBox">-->
                            <div class="header-label">Funders</div>
                            <div class="header-value">
                                <div ng-show="true">
                                    <textarea class="form-control" type="text" rows="4" readonly ng-model="row.strFunders"></textarea>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0px;">
                                <div class="header-label">Collaborators</div>
                                <div class="header-value">
                                    <button class="right btn btn-xs" ng-click="addCollaborator()" style="margin: 2px;  margin-right:20px;">+</button>
                                    <button class="right btn btn-xs" ng-click="removeCollaborator()" style="margin: 2px; ">-</button>
                                    <select class="form-control" style="margin-top: 4px;" ng-model="row.Collaborators" ng-change="selectCollaborator()">
                                        <option ng-repeat="collab in getMetafield('Collaborator')" value="{{collab}}">{{collab}}</option>
                                    </select>

                                </div>
                            </div>
                            <div class="header-label">Selected Collaborators</div>
                            <div class="header-value">
                                <!--<textarea class="form-control" type="text" rows="4"  readonly ng-model="row.txtCollaborators"  ng-focus="enteredSelectedCollaborators()" ng-keydown="checkKeyPress($event)"></textarea>-->
                                <textarea class="form-control" type="text" rows="4" readonly ng-model="row.strCollaborators"></textarea>
                            </div>
                            <div>
                                <div ng-show="showOtherCollaborators">
                                    <div class="header-label">Other Collaborator Name</div>
                                    <div class="header-value">
                                        <input class="form-control" type="text" ng-model="row.OtherCollaborators" />
                                    </div>
                                </div>
                            </div>

                            <div class="header-label">Comments</div>
                            <div class="header-value">
                                <textarea type="text" rows="4" class="form-control" ng-model="row.Comments" ng-focus="enteredSomethingElse()"></textarea>
                            </div>


                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="loc">
                        <div class="list-group media-list media-list-stream" style="display:block;">
                            <div style="margin-top: 30px;"></div>

                            <div class="form-group" ng-class="{ 'has-error' :  form.Easting.$error.float}" style="margin-bottom: 0px;">
                                <div class="header-label">* Easting</div>
                                <div class="header-value">
                                    <input class="form-control" name="Easting" ng-model="row.GPSEasting" placeholder="ex: 541324" sixfloat />
                                    <p class="field-error-block" ng-show="form.Easting.$error.float">This is not a valid Easting</p>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' :  form.Northing.$error.float}" style="margin-bottom: 0px;">
                                <div class="header-label">* Northing</div>
                                <div class="header-value">
                                    <input class="form-control" name="Northing" ng-model="row.GPSNorthing" placeholder="ex: 7896254" sevenfloat />
                                    <p class="field-error-block" ng-show="form.Northing.$error.float">This is not a valid Northing</p>
                                </div>
                            </div>

                            <div class="header-label">Projection:</div>
                            <div class="header-value">
                                <input type="text" class="form-control" ng-model="row.Projection" />
                            </div>

                            <div class="header-label">UTM Zone:</div>
                            <div class="header-value">
                                <input type="text" class="form-control" ng-model="row.UTMZone" />
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="hab">
                        <div class="list-group media-list media-list-stream habitat-form-items" style="display:block;">
                            <div style="margin-top: 30px;"></div>
                            <div ng-repeat="field in project.MetaFields | filter:{ControlType:'!hidden', isHabitat:'true'}" ng-switch on="field.ControlType">
                                <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                                <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                                <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                                <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                                <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                                <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                                <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                                <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                                <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                                <ctuir-multiselect-checkbox-field ng-switch-when="multiselect-checkbox"></ctuir-multiselect-checkbox-field>
                                <ctuir-text-field ng-switch-default></ctuir-text-field>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-show="!showFormItems && filesToUpload[file_field].length > 0">
        <h4>Files to upload:</h4>
        <table class="table striped">
            <tr ng-repeat="file in filesToUpload[file_field]">
                <td class="modal-file-col1">{{file.name}}</td>
                <td class="modal-file-col2">{{file.success}}</td>
            </tr>
        </table>

    </div>

    <div ng-show="removedFiles.length>0">
        <hr />
        <h4>Removing files:</h4>
        <table class="table striped">
            <tr ng-repeat="file in removedFiles">
                <td class="modal-file-col1">{{file.Name}}</td>
                <td class="modal-file-col2">{{file.success}}</td>
            </tr>
        </table>
    </div>

</div>
            
<div ng-show="showCancelButton" class="modal-footer" style="margin-top: 30px;">
    <button class="btn btn-warning right" style="margin: 10px;" ng-click="cancel()">Cancel</button>
    <button project-role="editor" class="btn btn-primary right" style="margin: 10px;" ng-disabled="!showCancelButton" ng-click="save()">Save</button>
    <div><img ng-show="loading" src="assets/images/FishLoading.gif" />{{ReadyToClose}}</div>

</div>

<div ng-show="!showFormItems" class="modal-footer-center" style="margin-top: 30px;">
    <label>{{UploadUserMessage}}</label>
    <br>
            

    <div ng-show="showCloseButton" >
        <button class="btn btn-primary" style="margin: 10px;" ng-click="close()">Close</button>
    </div>
</div>

