<div class="modal-header">
  	<h4>{{header_message}}</h4>
</div>
<div class="modal-body">

	<div ng-show="showFormItems">
		<form name="form" class="css-form modal-form" novalidate>
				<div class="header-label">Item Type</div>
				<div class="header-value">
                    <select class="form-control" type="text" ng-model="hi_row.ItemType">
                        <option value="Communication">Communication</option>
                        <option value="Design">Design</option>
                        <option value="EC Document">EC Document</option>
                        <option value="FISMA Attestation">FISMA Attestation</option>
                        <option value="HEP Report">HEP Report</option>
                        <option value="Line Item Budget">Line Item Budget</option>
                        <option value="Management Plan">Management Plan</option>
                        <option value="Map">Map</option>
                        <option value="Monitoring Data">Monitoring Data</option>
                        <option value="Monitoring Report">Monitoring Report</option>
                        <option value="MOU/MOA">MOU/MOA</option>
                        <option value="Other">Other</option>
                        <option value="Permits">Permits</option>
                        <option value="Photo">Photo</option>
                        <option value="Presentation">Presentation</option>
                        <option value="Progress (Annual) Report">Progress (Annual) Report</option>
                        <option value="Progress (Annual) Report Comments">Progress (Annual) Report Comments</option>
                        <option value="Property Inventory">Property Inventory</option>
                        <option value="SOW Review">SOW Review</option>
                        <option value="Transmittal Memo">Transmittal Memo</option>
                        <option value="Water Right Certificate">Water Right Certificate</option>
                        <option value="Water Survey ">Water Survey </option>
                        <option value="Water Transaction List">Water Transaction List</option>
                    </select>
				</div>
				<div class="header-label">Item Name</div>
				<div class="header-value">
					<input class="form-control" type="text" ng-model="hi_row.ItemName" />
				</div>
					
			<div class="header-label">Copy of the Document</div>
			<div class="header-value form-file">
				<button class="right btn btn-xs" ng-click="openFileModal(hi_row, 'ItemFiles')">Add/Remove</button>
				<div ng-bind-html="hi_row['ItemFiles'] | fileNamesFromString:this">&nbsp;</div>
			</div>
					
			<div class="header-label">External Links</div>
			<div class="header-value form-file">
				<button class="right btn btn-xs" ng-click="openLinkModal(hi_row, field)">Add/Remove</button>
				<div ng-bind-html="hi_row['ExternalLinks'] | urlsFromString">&nbsp;</div>
			</div>
		</form>
	</div>

        <div ng-show="!showFormItems && filesToUpload['ItemFiles'].length > 0">
            <h4>Files to upload:</h4>
            <table class="table striped">
                <tr ng-repeat="file in filesToUpload['ItemFiles']">
                    <td class="modal-file-col1">{{file.name}}</td>
                    <td class="modal-file-col2">{{file.success}}</td>
                </tr>
            </table>
                  
        </div>

        <div ng-show="removedFiles.length>0">
            <hr />
            <h4>Removing files:</h4>
            <table class="table striped">
                <tr ng-repeat="file in removedFiles">
                    <td class="modal-file-col1">{{file.Name}}</td>
                    <td class="modal-file-col2">{{file.success}}</td>
                </tr>
            </table>
        </div>


</div>
<div ng-show="showCancelButton" class="modal-footer" style="margin-top: 30px;">
    <button class="btn btn-warning right" style="margin: 10px;" ng-click="cancel()">Cancel</button>
    <button project-role="editor" class="btn btn-primary right" style="margin: 10px;" ng-disabled="!showCancelButton" ng-click="save()">Save</button>
	<div><img ng-show="loading" src="assets/images/FishLoading.gif"/>{{ReadyToClose}}</div>

</div>
<div ng-show="!showFormItems" class="modal-footer-center" style="margin-top: 30px;">
    <label>{{UploadUserMessage}}</label>
    <br>
    <div ng-show="showCloseButton">
		<button class="btn btn-primary" style="margin: 10px;" ng-click="close()">Close</button>
    </div>
</div>

