<div title="Toggle 'Favorite' status" class="fav-dataset">
    <a href='' ng-click="toggleFavorite()">
        <img id="favorite-active" ng-show="isFavorite" class="on" src='assets/images/favorite-on.png' />
        <img id="favorite-inactive" ng-show="!isFavorite" class="off" src='assets/images/favorite-off.png' />
    </a>
</div>

<ul class="breadcrumb">
    <li><a href="#!/projects">Projects</a> <span class="divider"></span> </li>
    <li><a href="#!/projects/{{project.Id}}">{{project.Name}}</a> <span class="divider"></span></li>
    <li class="active">{{dataset.Name}}</li>
</ul>

<button style="margin-bottom: 15px;" type="button" ng-click="toggleMap()">{{ShowMap.Message}} <span ng-show="!ShowMap.Display" class="glyphicon glyphicon-circle-arrow-right"></span><span ng-show="ShowMap.Display" class="glyphicon glyphicon-circle-arrow-down"></span></button>

<div ng-show="ShowMap.Display">
    <esri-map class="claro" id="map" center="-118.6836,45.6704" zoom="10" basemap="streets" onclick="click">
        <!--<esri-feature-layer url="https://restdata.ctuir.org/arcgis/rest/services/CDMS_ProjectPoints/FeatureServer/0" filter="location"></esri-feature-layer>-->
        <esri-feature-layer url="https://restdata.ctuir.org/arcgis/rest/services/CDMS_Points_TEST/FeatureServer/0" filter="location"></esri-feature-layer>
    </esri-map>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <div class="panel panel-default">
                <div class="panel-body">


                    <h3>{{project.Name}} > Manage Sites</h3>
                    <p><i>Manage Habitat Site Items</i></p>

                    <div project-role="editor">
                        <button style="margin-left: 10px;" class="right btn" ng-click="createHabSubproject()">Create Site</button>
                    </div>

                    <br />

                    <div style="height: 400px; width: 100%; margin-top: 35px; margin-bottom: 115px;">
                        <div id="hab-sites-grid" class="ag-theme-blue gridStyle-small"></div>
                        <div class="hab-sites-grid-footer">Total sites: {{subprojectList.length}}</div>
                    </div>

                    <div ng-show="subprojectList.length==0">No Habitat items are associated with this project.</div>

                    <hr />
                    <div project-role="editor">
                        <span>
                            Show sites in these datasets: <span ng-repeat="dataset in project.Config.ShowHabitatSitesForDatasets"><b>{{dataset}}</b> </span>
                        </span>
                        <a href ng-click="openChooseDatasetsForHabitatSites()">Choose datasets...</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>