<!--<h4>Correspondence for this CRPP Project</h4>-->
<h4>Correspondence for CRPP project: {{viewSubproject.ProjectName}}</h4>

<div id="correspondenceEventsScrollArea">
	<a id="ceTop"></a>
	<div ng-show="viewSubproject.CorrespondenceEvents.length > 0" style="padding: 8px; width: 260px;">
		<!--<input class="form-control" ng-model="gridOptionsFilter.filterText" placeholder="Filter By" type="text"/><img class="right" style="margin-top: -30px;" src="assets/images/search-sm.png"/>-->
		<input class="form-control" ng-model="correspondenceEventsFilter.$" placeholder="Filter By" type="text"/><img class="right" style="margin-top: -30px;" src="assets/images/search-sm.png"/>
	</div>

	<div ng-show="viewSubproject.CorrespondenceEvents.length === 0">There are no events recorded for this CRPP project.</div>

	<div ng-show="viewSubproject.CorrespondenceEvents.length > 0" id="correspondenceEvents">
		<div>
			<table style="background-color: lightyellow;" class="table table-striped table-bordered table-condensed" >
				<tr ><th></th><th>Notice Date</th><th>Notice Type</th><th>Type of Response</th><th>Days to Respond</th><th>Date of Response</th><th>Technician</th><th>Comments</th><th>Link for Files</th></tr>
				<!--<tr >--><!-- The boxes are a fixed size but should shrink smaller dynamically.  Keeping in commented out for now. -->
					<!--<td><img class="right" style="margin-top: -30px;" src="assets/images/search-sm.png"/></td>-->
				<!--	<td><img src="assets/images/search-sm.png"/></td>
					<td><input ng-model="correspondenceEventsFilter.CorrespondenceDate" class="col-xs-1" placeholder="YYYY-MM-DD" /></td>
					<td><input ng-model="correspondenceEventsFilter.ResponseType" class="col-xs-1" placeholder="" /></td>
					<td><input ng-model="correspondenceEventsFilter.NumberOfDays" placeholder="" type="text"/></td>
					<td><input ng-model="correspondenceEventsFilter.ResponseDate" placeholder="YYYY-MM-DD" type="text"/></td>
					<td><input ng-model="correspondenceEventsFilter.StaffMember" placeholder="" type="text" /></td>
					<td><input ng-model="correspondenceEventsFilter.EventComments" placeholder="" type="text" /></td>
					<td><button ng-click="correspondenceEventsFilter = {}" class="btn btn-xs">Clear Filter</button></td>
				</tr>-->
				<!--<tr class="accuracy-check-block" ng-repeat="event in viewSubproject.CorrespondenceEvents | filter: correspondenceEventsFilter:strict">-->
				<!--<tr class="accuracy-check-block" ng-repeat="event in viewSubproject.CorrespondenceEvents | orderBy 'CorrespondenceDate'">-->
				<tr class="accuracy-check-block" ng-repeat="event in viewSubproject.CorrespondenceEvents">
					<input type="hidden" name="eventId" value="event.Id" >
					<input type="hidden" name="eventCrppSubProjectId" value="event.CrppSubProject_Id">
					<!--<td><a ng-click="gotoCorrespondenceEventsTop()">CE</a></td>-->
					<td><img src="assets/images/UpArrow5.jpg" ng-click="gotoCorrespondenceEventsTop()" title="Go to top"><div title="Got to top"><a ng-click="gotoCorrespondenceEventsTop()"></a></div></img></td>
					<td><a href ng-click="openCorrespondenceEventForm(event)" title="Click to edit" >{{event.CorrespondenceDate | date:'MM/dd/yyyy'}}</a></td>
					<td>{{event.CorrespondenceType}}</td>
					<td>{{event.ResponseType}}</td>
					<td>{{event.NumberOfDays}}</td>
					<td>{{event.ResponseDate | date:'MM/dd/yyyy'}}</td>
					<td>{{event.StaffMember}}</td>
					<td>{{event.EventComments}}</td>
					<!--<td><a href="{{theServiceUrl}}/uploads/subprojects/{{event.SubprojectId}}/{{event.EventFiles}}" target="_blank">{{event.EventFiles}}</a></td>-->
					<td>
						<div ng-bind-html="event.EventFiles | fileNamesFromString">{{event.EventFiles}}></a></div>
						<!--<div ng-bind-html="row[field.DbColumnName] | fileNamesFromString">&nbsp;</div>-->
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>