<ul class="breadcrumb">
    <li><a href="#/projects">Projects</a> <span class="divider"></span> </li>
    <li class="active">Dashboard</li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-sm panel panel-default" style="margin-right:10px;">
            <div class="panel-body">
                <h3>My Datasets</h3>
                <ul>
                    <li ng-repeat="dataset in mydatasets"><a href="#!/{{dataset.activitiesRoute}}/{{dataset.Id}}">{{dataset.Name}}</a></li>
                </ul>
                <div ng-cloak ng-show="mydatasets.length == 0">No favorited datasets yet.  Click the star when viewing a dataset to favorite one.</div>
            </div>

        </div>

        <div class="col-sm panel panel-default">
            
            <div class="panel-body">
                <h3>My Projects</h3>
                <ul>
                    <li ng-repeat="project in myprojects"><a href="#/projects/{{project.Id}}">{{project.Name}}</a></li>
                </ul>
                <div ng-cloak ng-show="myprojects.length == 0">No favorited projects yet. Click the star when viewing a project to favorite one.</div>
            </div>

        </div>

    </div>
</div>