<div class="modal-header">
    <h3 ng-show="mode=='edit'">Edit Contact</h3>
    <h3 ng-show="mode=='new'">Add Contact</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <form novalidate class="row-form modal-form" name="headerForm">


            <div class="header-label">Contact:</div>
            <div class="header-value">
                <button type="button" style="float:right; margin-right:20px;" ng-click="addPermitPersonModal()" class="btn btn-sm" tabindex="-1">Add</button>
                <select id="persons-select" ui-select2="select2Options" data-placeholder="Choose a contact" ng-model="contact_modal.PermitPersonId" convert-to-number>
                    <option ng-repeat="person in PermitPersons" ng-selected="person.Id == contact_modal.PermitPersonId" value="{{person.Id}}">{{person | personOrgName}}</option>
                </select>
            </div>

            <div class="header-label">Contact Type:</div>
            <div class="header-value">
                <select class="form-control" ng-model="contact_modal.ContactType">
                    <option>Owner</option>
                    <option>Contractor</option>
                    <option>Other</option>
                </select>
            </div>

            <div class="header-label">Primary Contact:</div>
            <div class="header-value">
                <input class="form-control" type="checkbox" ng-model="contact_modal.IsPrimary" />
            </div>


        </form>
    </div>
</div>
<div class="modal-footer">
    <button style="margin-top: 30px;" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button ng-disabled="row.validationErrors.length>0" style="margin-top: 30px;" class="right btn" ng-click="save()">Save Changes</button>

    <div ng-show="SaveMessage" style="float: right;margin-right: 20px;margin-top:25px;" class="alert alert-success">{{SaveMessage}}</div>

</div>

