            <div class="modal-header">
                <h4>{{header_message}}</h4>
            </div>

            <div class="modal-body modal-form">
                <div style="margin-top: 30px;"></div>

                <div class="header-label">Organization:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.Organization" />
                </div>

                <div class="header-label">Prefix:</div>
                <div class="header-value">
                    <select class="form-control" ng-model="person_modal.Prefix">
                        <option>Mr.</option>
                        <option>Mrs.</option>
                        <option>Ms.</option>
                        <option>Dr.</option>
                    </select>
                </div>

                <div class="header-label">First Name:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.FirstName" ng-change="updateFullname()" />
                </div>

                <div class="header-label">Last Name:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.LastName" ng-change="updateFullname()"/>
                </div>

                <div class="header-label">Full Name:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.FullName" />
                </div>

                <div class="header-label">Suffix:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.Suffix" />
                </div>


                <div class="header-label">Physical Address 1:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.PhysicalAddress1" />
                </div>

                <div class="header-label">Physical Address 2:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.PhysicalAddress2" />
                </div>

                <div class="header-label">Physical City:</div>
                <div class="header-value">
                    <select class="form-control" ng-model="person_modal.PhysicalCity">
                        <option ng-repeat="opcity in contactCities.ListValues" ng-selected="person_modal.PhysicalCity==opcity" value="{{opcity}}">{{opcity}}</option>
                    </select>
                </div>

                <div class="header-label">Physical State:</div>
                <div class="header-value">
                    <select class="form-control" ng-model="person_modal.PhysicalState">
                        <option ng-repeat="opstate in contactStates.ListValues" ng-selected="person_modal.PhysicalState==opstate" value="{{opstate}}">{{opstate}}</option>
                    </select>
                </div>

                <div class="header-label">Physical Zip:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ui-mask="99999" ng-model="person_modal.PhysicalZip" />
                </div>

                <div class="header-label">IsMailingDifferent:</div>
                <div class="header-value">
                    <input class="form-control" type="checkbox" ng-model="person_modal.IsMailingDifferent" />
                </div>

                <div id="mailing-div" ng-show="person_modal.IsMailingDifferent">

                    <div class="header-label">Mailing Address 1:</div>
                    <div class="header-value">
                        <input class="form-control" type="text" ng-model="person_modal.MailingAddress1" />
                    </div>

                    <div class="header-label">Mailing Address 2:</div>
                    <div class="header-value">
                        <input class="form-control" type="text" ng-model="person_modal.MailingAddress2" />
                    </div>

                    <div class="header-label">Mailing City:</div>
                    <div class="header-value">
                        <select class="form-control" ng-model="person_modal.MailingCity">
                            <option ng-repeat="opcity in contactCities.ListValues" ng-selected="person_modal.MailingCity==opcity" value="{{opcity}}">{{opcity}}</option>
                        </select>
                    </div>

                    <div class="header-label">Mailing State:</div>
                    <div class="header-value">
                        <select class="form-control" ng-model="person_modal.MailingState">
                            <option ng-repeat="opstate in contactStates.ListValues" ng-selected="person_modal.MailingState==opstate" value="{{opstate}}">{{opstate}}</option>
                        </select>
                    </div>

                    <div class="header-label">Mailing Zip:</div>
                    <div class="header-value">
                        <input class="form-control" type="text" ui-mask="99999" ng-model="person_modal.MailingZip" />
                    </div>
                </div>

                <div class="header-label">Phone:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ui-mask="(999) 999-9999" ng-model="person_modal.Phone" />

                </div>

                <div class="header-label">Cell:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.Cell" ui-mask="(999) 999-9999" />
                </div>

                <div class="header-label">Fax:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.Fax" ui-mask="(999) 999-9999" />
                </div>

                <div class="header-label">Email:</div>
                <div class="header-value">
                    <input class="form-control" type="text" ng-model="person_modal.Email" />
                </div>

                <div>
                    <hr />
                    <div class="header-label">Changed by:</div>
                    <div class="header-value">
                        <input class="form-control" type="text" value="{{person_modal.UpdatedBy}}" ng-disabled="true" />
                    </div>

                    <div class="header-label">Changed date:</div>
                    <div class="header-value">
                        <input class="form-control" type="text" value="{{person_modal.LastUpdated | date : shortDate}}" ng-disabled="true" />
                    </div>

                </div>


            </div>

            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="save()">Save</button>
            </div>

