<div class="modal-header">
    <h3 ng-show="mode=='edit'">Modify Contact Relationship</h3>
    <h3 ng-show="mode=='new'">Add Contact Relationship</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <form novalidate style="width: 550px;" class="row-form modal-form" name="headerForm">


            <div ng-show="mode=='new'">
                <button ng-show="mode=='new'" type="button" style="float:right; margin-right:20px;" ng-click="addPermitPersonModal()" class="btn btn-sm" tabindex="-1">New</button>
                <div class="header-label">Search by name:</div>
                <div class="header-value" style="margin-top:-5px;">
                    <input class="form-control" type="text" ng-change="personEntryUpdate()" placeholder="Enter person name" ng-model="personEntry" />
                </div>

                <div style="margin-top: 10px" ng-show="personMatches != ''">
                    <div class="header-label">Contact:</div>
                    <div class="header-value">
                        <select class="form-control" ng-options="person as person.Label for person in personMatches track by person.Id" ng-model="Selected.Person" ng-change="selectPerson()" multiple="true">
                        </select>
                    </div>
                </div>
            </div>
            <div ng-show="mode=='edit'">
                <div class="header-label">Contact:</div>
                <div class="header-value">
                    <input ng-disabled="true" class="form-control" type="input" ng-model="contact_modal.PermitPerson.Label" />
                </div>
            </div>

            <div class="header-label">Contact Type:</div>
            <div class="header-value">
                <select class="form-control" ng-model="contact_modal.ContactType">
                    <option>Owner</option>
                    <option>Contractor</option>
                    <option>Other</option>
                </select>
            </div>

            <div class="header-label">Primary Contact:</div>
            <div class="header-value">
                <input class="form-control" type="checkbox" ng-model="contact_modal.IsPrimary" />
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <button style="margin-top: 30px;" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button ng-disabled="row.validationErrors.length>0" style="margin-top: 30px;" class="right btn" ng-click="save()">Save Changes</button>

    <div ng-show="SaveMessage" style="float: right;margin-right: 20px;margin-top:25px;" class="alert alert-success">{{SaveMessage}}</div>

</div>

