<div ng-include="'app/private/permits/components/list/templates/permit-header.html'"></div>

<h2>Permits: {{currentPage}}</h2>

<div ng-show="permits.length > 0">
    Permits displayed: <b>{{permitsGrid.api.getDisplayedRowCount()
    }}</b><br /><br />
    </div>
    <div class="alert alert-primary" role="alert" ng-hide="permits">
        Good things come to those who wait... (loading...)
    </div>

    <div id="active-permits-grid" style="height: 200px;width:100%;" class="ag-theme-blue"></div>

    <div class="alert alert-secondary" role="alert" ng-hide="permitsGrid.selectedItem || !permits">Click a permit to display details.</div>

    <div ng-show="permitsGrid.selectedItem">
        <div class="modal-body modal-form" style="width: 100% !important;">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" data-target="#basicinfo">Permit Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#actions">Activities</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#payment">Fee</a>
                </li>
            </ul>

            <form novalidate class="row-form modal-form" style="width: 100%;" name="headerForm">

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="basicinfo">
                        <div class="list-group media-list media-list-stream">

                            <h2>{{row.ProjectName}} ({{row.PermitStatus}})</h2>

                            <div class="row">

                                <div class="col-lg-4" style="min-width: 450px;">
                                    <fieldset>
                                        <legend>General Information</legend>
                                        <div ng-repeat="field in permitsGrid.columnDefs | filter:{ColumnIndex:1}" ng-switch on="field.ControlType">
                                            <ctuir-activity-date-field ng-switch-when="activity-date"></ctuir-activity-date-field>
                                            <ctuir-location-select-field ng-switch-when="location-select"></ctuir-location-select-field>
                                            <ctuir-instrument-select-field ng-switch-when="instrument-select"></ctuir-instrument-select-field>
                                            <ctuir-accuracy-check-select-field ng-switch-when="accuracy-check-select"></ctuir-accuracy-check-select-field>
                                            <ctuir-post-accuracy-check-select-field ng-switch-when="post-accuracy-check-select"></ctuir-post-accuracy-check-select-field>
                                            <ctuir-timezone-select-field ng-switch-when="timezone-select"></ctuir-timezone-select-field>
                                            <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                                            <ctuir-activity-text-field ng-switch-when="activity-text"></ctuir-activity-text-field>
                                            <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                                            <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                                            <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                                            <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                                            <ctuir-easting-field ng-switch-when="easting"></ctuir-easting-field>
                                            <ctuir-northing-field ng-switch-when="northing"></ctuir-northing-field>
                                            <ctuir-radio-field ng-switch-when="radio"></ctuir-radio-field>
                                            <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                                            <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                                            <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                                            <ctuir-file-field ng-switch-when="file"></ctuir-file-field>
                                            <ctuir-link-field ng-switch-when="link"></ctuir-link-field>
                                            <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                                            <ctuir-temp-waypoint-file-field ng-switch-when="temp-waypoint-file"></ctuir-temp-waypoint-file-field>
                                            <ctuir-qa-status-select-field ng-switch-when="qa-status-select"></ctuir-qa-status-select-field>
                                            <ctuir-qa-status-comment-field ng-switch-when="qa-status-comment"></ctuir-qa-status-comment-field>
                                            <ctuir-text-field ng-switch-default></ctuir-text-field>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-lg-4" style="min-width: 450px;">
                                    <fieldset>
                                        <legend>Location Information</legend>
                                        <div ng-repeat="field in permitsGrid.columnDefs | filter:{ColumnIndex:2}" ng-switch on="field.ControlType">
                                            <ctuir-activity-date-field ng-switch-when="activity-date"></ctuir-activity-date-field>
                                            <ctuir-location-select-field ng-switch-when="location-select"></ctuir-location-select-field>
                                            <ctuir-instrument-select-field ng-switch-when="instrument-select"></ctuir-instrument-select-field>
                                            <ctuir-accuracy-check-select-field ng-switch-when="accuracy-check-select"></ctuir-accuracy-check-select-field>
                                            <ctuir-post-accuracy-check-select-field ng-switch-when="post-accuracy-check-select"></ctuir-post-accuracy-check-select-field>
                                            <ctuir-timezone-select-field ng-switch-when="timezone-select"></ctuir-timezone-select-field>
                                            <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                                            <ctuir-activity-text-field ng-switch-when="activity-text"></ctuir-activity-text-field>
                                            <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                                            <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                                            <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                                            <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                                            <ctuir-easting-field ng-switch-when="easting"></ctuir-easting-field>
                                            <ctuir-northing-field ng-switch-when="northing"></ctuir-northing-field>
                                            <ctuir-radio-field ng-switch-when="radio"></ctuir-radio-field>
                                            <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                                            <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                                            <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                                            <ctuir-file-field ng-switch-when="file"></ctuir-file-field>
                                            <ctuir-link-field ng-switch-when="link"></ctuir-link-field>
                                            <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                                            <ctuir-temp-waypoint-file-field ng-switch-when="temp-waypoint-file"></ctuir-temp-waypoint-file-field>
                                            <ctuir-qa-status-select-field ng-switch-when="qa-status-select"></ctuir-qa-status-select-field>
                                            <ctuir-qa-status-comment-field ng-switch-when="qa-status-comment"></ctuir-qa-status-comment-field>
                                            <ctuir-text-field ng-switch-default></ctuir-text-field>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Other Information</legend>
                                        <div ng-repeat="field in permitsGrid.columnDefs | filter:{ColumnIndex:3}" ng-switch on="field.ControlType">
                                            <ctuir-activity-date-field ng-switch-when="activity-date"></ctuir-activity-date-field>
                                            <ctuir-location-select-field ng-switch-when="location-select"></ctuir-location-select-field>
                                            <ctuir-instrument-select-field ng-switch-when="instrument-select"></ctuir-instrument-select-field>
                                            <ctuir-accuracy-check-select-field ng-switch-when="accuracy-check-select"></ctuir-accuracy-check-select-field>
                                            <ctuir-post-accuracy-check-select-field ng-switch-when="post-accuracy-check-select"></ctuir-post-accuracy-check-select-field>
                                            <ctuir-timezone-select-field ng-switch-when="timezone-select"></ctuir-timezone-select-field>
                                            <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                                            <ctuir-activity-text-field ng-switch-when="activity-text"></ctuir-activity-text-field>
                                            <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                                            <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                                            <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                                            <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                                            <ctuir-easting-field ng-switch-when="easting"></ctuir-easting-field>
                                            <ctuir-northing-field ng-switch-when="northing"></ctuir-northing-field>
                                            <ctuir-radio-field ng-switch-when="radio"></ctuir-radio-field>
                                            <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                                            <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                                            <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                                            <ctuir-file-field ng-switch-when="file"></ctuir-file-field>
                                            <ctuir-link-field ng-switch-when="link"></ctuir-link-field>
                                            <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                                            <ctuir-temp-waypoint-file-field ng-switch-when="temp-waypoint-file"></ctuir-temp-waypoint-file-field>
                                            <ctuir-qa-status-select-field ng-switch-when="qa-status-select"></ctuir-qa-status-select-field>
                                            <ctuir-qa-status-comment-field ng-switch-when="qa-status-comment"></ctuir-qa-status-comment-field>
                                            <ctuir-text-field ng-switch-default></ctuir-text-field>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-lg-4" style="min-width: 480px;">
                                    <fieldset>
                                        <legend>Contacts</legend>
                                        <div id="permit-contacts-grid" style="height: 200px;width:100%;" class="ag-theme-blue"></div>
                                    </fieldset>
                                    <fieldset style=" margin-top: 30px;">
                                        <legend>Related Parcels</legend>
                                        <div id="permit-parcels-grid" style="height: 200px;width:100%;" class="ag-theme-blue"></div>
                                    </fieldset>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="actions">
                        <div class="list-group media-list media-list-stream">
                            <div style="margin-top: 30px;"></div>
                            <button class="btn btn-sm" ng-click="openActivityModal()">Add Activity</button>
                            <div style="margin-top: 10px;"></div>
                            <div id="permit-events-grid" style="height: 200px;width:100%;" class="ag-theme-blue"></div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="payment">
                        <div class="list-group media-list media-list-stream">
                            <div style="margin-top: 30px;"></div>
                            <div ng-repeat="field in permitsGrid.columnDefs | filter:{ColumnIndex:5}" ng-switch on="field.ControlType">
                                <ctuir-activity-date-field ng-switch-when="activity-date"></ctuir-activity-date-field>
                                <ctuir-location-select-field ng-switch-when="location-select"></ctuir-location-select-field>
                                <ctuir-instrument-select-field ng-switch-when="instrument-select"></ctuir-instrument-select-field>
                                <ctuir-accuracy-check-select-field ng-switch-when="accuracy-check-select"></ctuir-accuracy-check-select-field>
                                <ctuir-post-accuracy-check-select-field ng-switch-when="post-accuracy-check-select"></ctuir-post-accuracy-check-select-field>
                                <ctuir-timezone-select-field ng-switch-when="timezone-select"></ctuir-timezone-select-field>
                                <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                                <ctuir-activity-text-field ng-switch-when="activity-text"></ctuir-activity-text-field>
                                <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                                <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                                <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                                <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                                <ctuir-easting-field ng-switch-when="easting"></ctuir-easting-field>
                                <ctuir-northing-field ng-switch-when="northing"></ctuir-northing-field>
                                <ctuir-radio-field ng-switch-when="radio"></ctuir-radio-field>
                                <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                                <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                                <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                                <ctuir-file-field ng-switch-when="file"></ctuir-file-field>
                                <ctuir-link-field ng-switch-when="link"></ctuir-link-field>
                                <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                                <ctuir-temp-waypoint-file-field ng-switch-when="temp-waypoint-file"></ctuir-temp-waypoint-file-field>
                                <ctuir-qa-status-select-field ng-switch-when="qa-status-select"></ctuir-qa-status-select-field>
                                <ctuir-qa-status-comment-field ng-switch-when="qa-status-comment"></ctuir-qa-status-comment-field>
                                <ctuir-text-field ng-switch-default></ctuir-text-field>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
