
<div class="modal-header">
  	<h4>{{header_message}}</h4>
<div>    
    <p ng-show="uploadErrorMessage" class="alert alert-danger">{{uploadErrorMessage}}</p>
</div>
</div>
<div class="modal-body" id="modal-body">

<input ng-disabled="doneUploading" type="file" ngf-select="onFileSelect($files)" multiple>

<table ng-show="uploadFiles" class="table table-striped">
    <tr><th>Filename</th><th>File Type</th><th>Results</th></tr>
    <tr ng-repeat="file in uploadFiles">
    <td>{{file.name}}</td>
    <td><select ng-model="file.Description"><option>Site Plan</option><option>Inspection Report</option><option>Other Document</option><option>Email message</option></select></td>
    <td>{{file.success}}</td>
    </tr>
</table>
  		
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
    <button ng-show="readyToUpload" class="btn btn-primary" ng-click="save()">Upload</button>
</div>
