<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="#!/permits-search">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-class="{'active': currentPage=='Issued'}" href="#!/permits/issued">Issued</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-class="{'active': currentPage=='Applications'}" href="#!/permits/applications">Applications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-class="{'active': currentPage=='Inspections'}" href="#!/permits/inspections">Inspections</a>
    </li>
    
</ul>

<hr/>