<h3>Create Inspection Request</h3>


<div class="modal-body modal-form" style="width: 100% !important;">

    <div class="header-label">Permit Number:</div>
    <div class="header-value">
        <input class="form-control" type="text" ng-model="permit.PermitNumber" />
    </div>

    <div>
        {{ResultMessage}}
    </div>

    <button class="btn" ng-click="permitLookup()">Lookup</button>

    <div ng-show="permit.Id">
        <div ng-include="'app/private/permits/components/list/templates/add-activity-modal.html'"></div>
    </div>
</div>
