<div ng-include="'app/private/permits/components/ehs-violations/templates/violations-header.html'"></div>

<h2>Violations: {{currentPage}}</h2>

<div ng-show="violations.length > 0">
    Records displayed: <b>{{ehsGrid.api.getDisplayedRowCount()}}</b><br /><br />
    </div>
    <div class="alert alert-primary" role="alert" ng-hide="permits">
        Good things come to those who wait... (loading...)
    </div>

    <div ng-hide="!violations" style="display: flex">
        <div ng-show="ehsGrid.hasFilters" style="margin-left: 5px; margin-bottom: 10px;"><button class="btn-sm btn-warning" ng-click="clearFilters()">Clear Filters</button></div>
    </div>

    
    <div id="active-ehs-grid" style="height: 200px;width:100%;" class="ag-theme-blue"></div>

    <div class="alert alert-secondary" role="alert" ng-hide="ehsGrid.selectedItem || !violations">Click an item to display details.</div>

    <div ng-show="ehsGrid.selectedItem">

        <div class="modal-body modal-form" style="width: 100% !important;">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a id="tab-basicinfo" class="nav-link-active" data-toggle="tab" data-target="#basicinfo">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#actions">Activities</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#code">Code Violations</a>
                </li>
            </ul>

            <div ng-show="Profile.hasRole('Permits') && row.dataChanged" style="margin: 10px; float: right;">
                <div class="alert alert-danger" ng-show="row.hasError">{{row.errorMessage}}</div>
                <button ng-disabled="row.isSaving" class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button ng-disabled="row.isSaving" class="btn btn-primary" ng-click="save()">Save</button>
            </div>


            <form novalidate class="row-form modal-form" style="width: 100%;" name="headerForm">

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane" id="basicinfo">
                        <div class="list-group media-list media-list-stream">

                            <h2>{{row.Name}} ({{row.FileType}})</h2>
                            
                            <div class="row">

                                <div class="col-lg-4" style="min-width: 450px;">
                                    <fieldset>
                                        <legend class="bump-over">File Information</legend>
                                        <div ng-repeat="field in ehsGrid.columnDefs | filter:{ColumnIndex:1}" ng-switch on="field.ControlType">
                                            <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                                            <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                                            <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                                            <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                                            <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                                            <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                                            <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                                            <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                                            <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                                            <ctuir-currency-field ng-switch-when="currency"></ctuir-currency-field>
                                            <ctuir-text-field ng-switch-default></ctuir-text-field>
                                        </div>
                                    </fieldset>

                                    <fieldset style="margin-top: 30px;">
                                        <legend class="bump-over">Routing</legend>
                                        <div class="checkbox-fix" ng-repeat="field in ehsGrid.columnDefs | filter:{ColumnIndex:6}" ng-switch on="field.ControlType">
                                            <ctuir-multiselect-checkbox-field ng-switch-when="multiselect-checkbox"></ctuir-multiselect-checkbox-field>
                                        </div>
                                    </fieldset>

                                </div>

                                <div class="col-lg-4" style="min-width: 450px;">
                                    <fieldset>
                                        <legend class="bump-over">Location Information</legend>
                                        <div ng-repeat="field in ehsGrid.columnDefs | filter:{ColumnIndex:2}" ng-switch on="field.ControlType">
                                            <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                                            <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                                            <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                                            <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                                            <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                                            <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                                            <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                                            <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                                            <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                                            <ctuir-text-field ng-switch-default></ctuir-text-field>
                                        </div>
                                    </fieldset>

                                    <fieldset style="margin-top: 30px;">
                                        <legend class="bump-over">Complainant Information</legend>
                                        <div ng-repeat="field in ehsGrid.columnDefs | filter:{ColumnIndex:3}" ng-switch on="field.ControlType">
                                            <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                                            <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                                            <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                                            <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                                            <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                                            <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                                            <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                                            <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                                            <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                                            <ctuir-text-field ng-switch-default></ctuir-text-field>
                                        </div>
                                    </fieldset>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="actions">
                        <div class="list-group media-list media-list-stream">
                            <div style="margin-top: 30px;"></div>
                            <button class="btn btn-sm" ng-click="openActivityModal()">Add Activity</button>
                            <button class="btn btn-sm" ng-click="openActivityModal(null,'new_inspection')">Request Inspection</button>
                            <button class="btn btn-sm" ng-click="openActivityModal(null,'new_route')">Request Review</button>
                            <div style="margin-top: 10px;"></div>
                            <div id="permit-events-grid" style="height: 200px;width:100%;" class="ag-theme-blue"></div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="code">
                        <div class="list-group media-list media-list-stream">
                            <div style="margin-top: 30px;"></div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-lg">
                                        <div ng-repeat="field in ehsGrid.columnDefs | filter:{ColumnIndex:5}" ng-switch on="field.ControlType">
                                            <ctuir-text-field ng-switch-when="text"></ctuir-text-field>
                                            <ctuir-currency-field ng-switch-when="currency"></ctuir-currency-field>
                                            <ctuir-textarea-field ng-switch-when="textarea"></ctuir-textarea-field>
                                            <ctuir-number-field ng-switch-when="number"></ctuir-number-field>
                                            <ctuir-date-field ng-switch-when="date"></ctuir-date-field>
                                            <ctuir-time-field ng-switch-when="time"></ctuir-time-field>
                                            <ctuir-checkbox-field ng-switch-when="checkbox"></ctuir-checkbox-field>
                                            <ctuir-select-field ng-switch-when="select"></ctuir-select-field>
                                            <ctuir-select-number-field ng-switch-when="select-number"></ctuir-select-number-field>
                                            <ctuir-multiselect-field ng-switch-when="multiselect"></ctuir-multiselect-field>
                                            <ctuir-text-field ng-switch-default></ctuir-text-field>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                            
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <div ng-show="Profile.hasRole('Permits') && row.dataChanged" style="margin: 10px; float: right;">
                    <div class="alert alert-danger" ng-show="row.hasError">{{row.errorMessage}}</div>
                    <button ng-disabled="row.isSaving" class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    <button ng-disabled="row.isSaving" class="btn btn-primary" ng-click="save()">Save</button>
                </div>
            </div>

        </div>

    </div>
