<div ng-controller="AppraisalMapCtrl">
    <button style="margin-bottom: 15px;" type="button" ng-click="toggleMap()">{{ShowMap.Message}} <span ng-show="!ShowMap.Display" class="glyphicon glyphicon-circle-arrow-right"></span><span ng-show="ShowMap.Display" class="glyphicon glyphicon-circle-arrow-down"></span></button>
    <div ng-show="ShowMap.Display">
        <button class="btn btn-sm right" ng-click="clearAll()">Clear</button>
        <button ng-show="agGridOptions.api.getDisplayedRowCount() == 0 && parcelShowing" class="btn btn-sm right" style="margin-right: 10px;" ng-click="startAppraisal()">Start Appraisal</button>
        <button ng-show="agGridOptions.selectedItems.length == 1" class="btn btn-sm right" style="margin-right: 10px;" ng-click="findSelection()">Find Selection on Map</button>
        <form ng-submit="searchParcel()">
            <div style="display: flex; margin-bottom: 20px;">
                <input class="form-control" type="text" ng-model="SearchParcelId" placeholder="Parcel Id" /><input type="submit" value="Search" class="btn btn-sm" style="height:30px;margin-top:5px;" ng-click="searchParcel()"/>
                <div ng-show="MapSearchResults.Message" style="margin-left: 10px; margin-top: -6px;" class="alert alert-warning">{{MapSearchResults.Message}}</div>
            </div>
        </form>
        <appraisal-map class="claro" id="map" center="-118.45,45.56" zoom="4" onclick="click"></appraisal-map>
    </div>
</div>