    <div class="modal-header">
        <h4>{{header_message}}</h4>
    </div>
    <div class="modal-body">

        <div ng-show="showFormItems">
            <form name="form" class="css-form modal-form" novalidate>
                <p>* = Required Items</p>
                <div class="header-label">Document Type</div>
                <div class="header-value">
                    <select class="form-control" ng-model="event_row.DocumentType" ng-change="selectDocumentType()">
                        <option ng-repeat="dtype in getMetafield('DocumentType')" value="{{dtype}}">{{dtype}}</option>
                    </select>
                </div>

                <div class="header-label">Document Date</div>
                <div class="header-value">
                    <md-datepicker class="form-control" ng-model="event_row.DocumentDate" md-hide-icons="triangle" md-placeholder="Enter date" ng-blur="calculateDateOfResponse()"></md-datepicker>
                </div>

                <div class="header-label">File Name</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.FileName" />
                </div>
                <div class="header-label">Copy of the Received Document</div>
                <div class="header-value form-file">
                    <button class="right btn btn-xs" ng-click="openFileModal(event_row, 'FileAttach')">Add/Remove</button>
                    <div ng-bind-html="event_row['FileAttach'] | fileNamesFromString:this">&nbsp;</div>
                </div>

                <div class="header-label">Author</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.Author" />
                </div>
                <!--<div class="header-label">Author Agency</div>
    <div class="header-value">
        <input type="text" class="form-control" ng-model="event_row.AuthorAgency" />
    </div>-->
                <div class="header-label">Agency Division</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.AgencyDivision" />
                </div>
                <div class="header-label">Signatory Name</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.SignatoryName" />
                </div>
                <div class="header-label">Signatory Title</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.SignatoryTitle" />
                </div>
                <div class="header-label">Recipient Name</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.RecipientName" />
                </div>
                <div class="header-label">Recipient Title</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.RecipientTitle" />
                </div>
                <div class="header-label">Recipient Agency</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.RecipientAgency" />
                </div>
                <div class="header-label">Recipient Location</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.RecipientLocation" />
                </div>

                <div class="header-label">Boundary</div>
                <div class="header-value">
                    <select multiple class="form-control" style="margin-top: 4px;" ng-model="event_row.Boundary" ng-change="selectBoundary()">
                        <option ng-repeat="boundary in getMetafield('Boundary')" value="{{boundary}}">{{boundary}}</option>
                    </select>
                </div>

                <div class="header-label">Significant Area</div>
                <div class="header-value">
                    <select multiple class="form-control" style="margin-top: 4px;" ng-model="event_row.SignificantArea" ng-change="selectSignificantArea()">
                        <option ng-repeat="area in getMetafield('SignificantArea')" value="{{area}}">{{area}}</option>
                    </select>
                </div>

                <div class="header-label">Miscellaneous Context</div>
                <div class="header-value">
                    <select multiple class="form-control" style="margin-top: 4px;" ng-model="event_row.MiscellaneousContext" ng-change="selectMiscellaneousContext()">
                        <option ng-repeat="context in getMetafield('MiscellaneousContext')" value="{{context}}">{{context}}</option>
                    </select>

                </div>

                <div class="header-label">Survey Number</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.SurveyNumber" />
                </div>
                <div class="header-label">Survey Contract Number</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.SurveyContractNumber" />
                </div>
                <div class="header-label">Surveyor Name</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.SurveyorName" />
                </div>
                <div class="header-label">Survey Authorizing Agency</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.SurveyAuthorizingAgency" />
                </div>
                <div class="header-label">Survey Dates</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.SurveyDates" />
                </div>

                <div class="header-label">Description</div>
                <div class="header-value">
                    <textarea type="text" rows="4" class="form-control" ng-model="event_row.Description"></textarea>
                </div>

                <div class="header-label">TwnRngSec</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.TwnRngSec" />
                </div>

                <div class="header-label">Number Items</div>
                <div class="header-value">
                    <input type="text" class="form-control" ng-model="event_row.NumberItems" />
                </div>

                <div class="header-label">Date Discovered</div>
                <div class="header-value">
                    <md-datepicker class="form-control" ng-model="event_row.DateDiscovered" md-hide-icons="triangle" md-placeholder="Enter date"></md-datepicker>
                </div>

                <div class="header-label">Person Discovered</div>
                <div class="header-value">
                    <select class="form-control" ng-model="event_row.PersonDiscovered" ng-change="selectPersonDiscovered()">
                        <option ng-repeat="context in getMetafield('PersonDiscovered')" value="{{context}}">{{context}}</option>
                    </select>

                </div>

                <div class="header-label">Reference</div>
                <div class="header-value">
                    <textarea type="text" rows="4" class="form-control" ng-model="event_row.Reference"></textarea>
                </div>

                <!--<div class="header-label">Comments</div>-->
                <div class="header-label">Tasks</div>
                <div class="header-value">
                    <!--<textarea type="text" rows="4" class="form-control" ng-model="event_row.EventComments"></textarea>-->
                    <textarea type="text" rows="4" class="form-control" ng-model="event_row.Tasks"></textarea>
                </div>
            </form>
        </div>
    </div>



    <div ng-show="!showFormItems && filesToUpload[file_field].length > 0">
        <h4>Files to upload:</h4>
        <table class="table striped">
            <tr ng-repeat="file in filesToUpload[file_field]">
                <td class="modal-file-col1">{{file.name}}</td>
                <td class="modal-file-col2">{{file.success}}</td>
            </tr>
        </table>

    </div>

    <div ng-show="removedFiles.length>0">
        <hr />
        <h4>Removing files:</h4>
        <table class="table striped">
            <tr ng-repeat="file in removedFiles">
                <td class="modal-file-col1">{{file.Name}}</td>
                <td class="modal-file-col2">{{file.success}}</td>
            </tr>
        </table>
    </div>

    <div ng-show="showCancelButton" class="modal-footer" style="margin-top: 30px;">
        <button class="btn btn-warning right" style="margin: 10px;" ng-click="cancel()">Cancel</button>
        <button project-role="editor" class="btn btn-primary right" style="margin: 10px;" ng-click="save()">Save</button>
        <div><img ng-show="loading" src="assets/images/FishLoading.gif" />{{ReadyToClose}}</div>

    </div>
    <div ng-show="showCloseButton" class="modal-footer-center" style="margin-top: 30px;">
        <label>{{UploadUserMessage}}</label>
        <br>
        <button class="btn btn-primary" style="margin: 10px;" ng-click="close()">Close</button>
    </div>

