<div class="modal">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
  			<h4>{{header_title}}</h4>
  		</div>
		
  		<div class="modal-body">

  			<!--<div class="header-label">You want to {{header_message}} ({{viewSubproject.ProjectName}})?</div>-->
  			<div class="header-label">You want to {{header_message}}?</div>
  			<!--<div class="header-value">
	  			<input  class="form-control" type="text" ng-model="subproject_row.ProjectName" />
	  		</div>-->
  		
  		</div>
		<div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="continueAction()">Continue</button>
        </div>

  </div>
</div>
