<div class="modal" >
	<div class="modal-dialog" style="width: 90%">
	<div class="modal-content">
		<div class="modal-header">
            <h3>{{relationgrid_field.Label}}</h3>
        </div>

        <div class="modal-body">
    		<div style="height: 300px; width: 100%;" class="gridStyleWide gridTable" ng-grid="relationGrid"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()">Close</button>
        </div>

    	
    </div>
</div>    
